---
title: Mobile
---

<% content_for :assets do %>
<script type="text/javascript" charset="utf-8">
  $(function(){
    'use strict';

    var win            = $(window);
    var contentSection = $("article.component");
    var windowHeight   = $(window).height() / 3;
    var topCache       = contentSection.map(function () { return $(this).offset().top; });
    var currentActive  = 0;

    win.on('scroll', calculateScroll);

    function updateDeviceContent(content) {
      $('#window').contents().find('body').html(content)
    }

    function calculateScroll(){
      var contentSectionItem;
      var currentTop = win.scrollTop();
      // Injection of components into device
      for (var l = contentSection.length; l--;) {
        if ((topCache[l] - currentTop) < windowHeight) {
          if (currentActive === l) {
            return;
          }
          currentActive = l;
          $('.component.active').removeClass('active');
          contentSectionItem = $(contentSection[l]);
          contentSectionItem.addClass('active');
          updateDeviceContent(contentSectionItem.find('.highlight.html').text());
          break;
        }
      }
    }
  });
</script>
<% end %>

<div class="container">

  <div class="grid twelve">

    <div class="column seven doc">

      <h2 id="basic-template">Basic template</h2>
      <p>Use this basic template to get your app started.</p>
<% code 'html' do %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Your app title.</title>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />

    <link href="mice-mobile.css" rel="stylesheet" />
  </head>
  <body>
    ...
  </body>
</html>
<% end -%>


      <article class="component active">
        <h2 id="tab-bar">Tab bar</h2>
        <p>Use Ratchicons in the <code>nav.tab</code> to represent different sections of your app.</p>
<% code 'html' do %>
  <nav class="tab">
    <a class="active" href="#">
      <i class="icon home"></i>
      <span class="label">Home</span>
    </a>
    <a href="#">
      <i class="icon user"></i>
      <span class="label">Profile</span>
    </a>
    <a href="#">
      <i class="icon star"></i>
      <span class="label">Favorites</span>
    </a>
    <a href="#">
      <i class="icon search"></i>
      <span class="label">Search</span>
    </a>
    <a href="#">
      <i class="icon gear"></i>
      <span class="label">Settings</span>
    </a>
  </nav>
<% end %>
      </article>


      <article class="component">
        <h2 id="typography">Typography</h2>
        <p>Use headings and paragraphs to title and describe sections of your app. Apply or wrap elements with <code>.content</code> to give the content space around the screen.</p>
<% code "html" do %>
<div class="content">
  <h1>h1. Heading</h1>
  <h2>h2. Heading</h2>
  <h3>h3. Heading</h3>
  <h4>h4. Heading</h4>
  <h5>h5. Heading</h5>
  <h6>h6. Heading</h6>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco.</p>
</div>
<% end %>
      </article>


      <article class="component">
        <h2 id="list">List(Table view)</h2>
<% code "html" do %>
<ul class="group">
  <li>Cras justo odio</li>
  <li>Dapibus ac facilisis in</li>
  <li class="disabled">Morbi leo risus</li>
  <li>Porta ac consectetur ac</li>
  <li>Vestibulum at eros</li>
</ul>

<div class="content">
  <div class="group">
    <a href="#" class="active">Cras justo odio</a>
    <a href="#">Dapibus ac faciasis in</a>
    <a href="#" class="disabled">Morbi leo risus</a>
    <a href="#">Porta ac consectetur ac</a>
    <a href="#">Vestibulum at eros</a>
  </div>
</div>
<% end %>
      </article>


      <article class="component">
        <h2 id="media">Media</h2>
<% code "html" do %>
<section class="group">
  <a class="media">
    <img class="cover" src="http://placehold.it/42x42">
    <div class="desc">
      Item 1
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
    </div>
  </a>
  <a class="media">
    <img class="cover" src="http://placehold.it/42x42">
    <div class="desc">
      Item 1
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
    </div>
  </a>
  <a class="media">
    <img class="cover" src="http://placehold.it/42x42">
    <div class="desc">
      Item 1
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
    </div>
  </a>
</section>
<% end %>
      </article>

    </div>

    <div class="column five">
      <div class="device">
        <iframe id="window" src="/mobile/device.html"></iframe>
      </div>
    </div>


  </div>

</div>