---
title: Mobile
---

<div class="container">

  <div class="grid twelve">

    <div class="column three">
      <!-- TODO -->
    </div>

    <div class="column nine doc">

      <h1 class="title">Mobile</h1>

      <h2>Basic template</h2>
      <p>Use this basic template to get your app started.</p>
<% code 'html' do %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Your app title.</title>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />

    <link href="mice-mobile.css" rel="stylesheet" />
  </head>
  <body>
    ...
  </body>
</html>
<% end -%>

    </div>

  </div>

</div>