---
title: Mobile
---

<div class="container">

  <div class="grid twelve">

    <div class="column seven doc">

      <h2 id="basic-template">Basic template</h2>
      <p>Use this basic template to get your app started.</p>
<% code 'html' do %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Your app title.</title>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />

    <link href="mice-mobile.css" rel="stylesheet" />
  </head>
  <body>
    ...
  </body>
</html>
<% end -%>


    <h2 id="tab-bar">Tab bar</h2>
    <p>Use Ratchicons in the <code>nav.tab</code> to represent different sections of your app.</p>
<% code 'html' do %>
  <nav class="tab">
    <a class="active" href="#">
      <i class="icon home"></i>
      <span class="label">Home</span>
    </a>
    <a href="#">
      <i class="icon user"></i>
      <span class="label">Profile</span>
    </a>
    <a href="#">
      <i class="icon star"></i>
      <span class="label">Favorites</span>
    </a>
    <a href="#">
      <i class="icon search"></i>
      <span class="label">Search</span>
    </a>
    <a href="#">
      <i class="icon gear"></i>
      <span class="label">Settings</span>
    </a>
  </nav>
<% end %>

    </div>

    <div class="column five">
      <div class="device">
        <iframe id="window" src="mobile/device.html"></iframe>
      </div>
    </div>


  </div>

</div>