// Button
// --------------------------------------------------

@use 'sass:color';

// Button component variables
button,
.button,
input[type='button'],
input[type='submit'] {
  // Default button colors
  --button-default-color: var(--secondary);
  --button-default-background: #fff;
  --button-default-border: #d9d9d9;

  // Button base colors
  --button-primary-color: #fff;
  --button-primary-background: var(--primary);
  --button-success-color: #fff;
  --button-success-background: var(--success);
  --button-info-color: #fff;
  --button-info-background: var(--info);
  --button-warning-color: #fff;
  --button-warning-background: var(--warning);
  --button-danger-color: #fff;
  --button-danger-background: var(--danger);

  // Button hover states (+5% brightness)
  --button-primary-hover-background: #1a95f4;
  --button-success-hover-background: #8ec93d;
  --button-info-hover-background: #63c2e5;
  --button-warning-hover-background: #f1b053;
  --button-danger-hover-background: #ff4b4d;

  // Button active states (-5% brightness)
  --button-primary-active-background: #0076e6;
  --button-success-active-background: #76af2a;
  --button-info-active-background: #4fb3d9;
  --button-warning-active-background: #ee9a32;
  --button-danger-active-background: #ff1c1e;

  // Button border colors (hover)
  --button-primary-hover-border: #0067dc;
  --button-success-hover-border: #6fb029;
  --button-info-hover-border: #46b8da;
  --button-warning-hover-border: #eea236;
  --button-danger-hover-border: #ff2628;

  // Button border colors (active)
  --button-primary-active-border: #0055b3;
  --button-success-active-border: #5d911f;
  --button-info-active-border: #3697c2;
  --button-warning-active-border: #dd8f2d;
  --button-danger-active-border: #f00;

  // Button border variants (-5% lightness)
  --button-primary-border: #0067dc;
  --button-success-border: #6fb029;
  --button-info-border: #46b8da;
  --button-warning-border: #eea236;
  --button-danger-border: #ff2628;
}

// Button variants
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border, $hover-bg: null, $active-bg: null, $hover-border: null, $active-border: null) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover,
  &:focus {
    @if $hover-bg {
      color: $color;
      background-color: $hover-bg;
      @if $hover-border {
        border-color: $hover-border;
      } @else {
        border-color: $hover-bg;
      }
    } @else {
      color: $color;
      // Fallback for buttons without pre-calculated hover states
      filter: brightness(0.9);
    }
  }

  &:active,
  &.active {
    @if $active-bg {
      color: $color;
      background-color: $active-bg;
      @if $active-border {
        border-color: $active-border;
      } @else {
        border-color: $active-bg;
      }
    } @else {
      filter: brightness(0.85);
    }
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover,
    &:active,
    &.active {
      background-color: $background;
      border-color: $border;
      filter: none;
    }
  }
}

// Form control sizing
// Relative text size, padding, and border-radii changes for form controls. For
// horizontal sizing, wrap controls in the predefined grid classes. `<select>`
// element gets special love because it's special, and that's a fact!
// [converter] $parent hack
@mixin input-size(
  $parent,
  $input-height,
  $padding-vertical,
  $padding-horizontal,
  $font-size,
  $line-height,
  $border-radius
) {
  // #{$parent} {
  //   height: $input-height;
  //   padding: $padding-vertical $padding-horizontal;
  //   font-size: $font-size;
  //   line-height: $line-height;
  //   border-radius: $border-radius;
  // }

  // select#{$parent} {
  //   height: $input-height;
  //   line-height: $input-height;
  // }

  // textarea#{$parent},
  // select[multiple]#{$parent} {
  //   height: auto;
  // }
}

// Button sizes
// -------------------------
@mixin button-size(
  $padding-vertical,
  $padding-horizontal,
  $font-size,
  $line-height,
  $border-radius
) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

// Single side border-radius
// -------------------------
@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-right-radius($radius) {
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-left-radius($radius) {
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}

// Base styles
// -------------------------

input[type='button'],
input[type='submit'],
button,
.button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  outline: none;
  position: relative;
  box-shadow: 0 1px 0 rgb(0 0 0 / 5%);
  @include button-size(
    var(--padding-base-vertical),
    var(--padding-base-horizontal),
    var(--font-size-base),
    var(--line-height-base),
    var(--border-radius)
  );

  user-select: none;

  &:hover,
  &:focus {
    color: var(--button-default-color);
    text-decoration: none;
    // @include box-shadow(0 1px 0 rgba(0, 0, 0, 0.1));
  }

  // &:active,
  // &.active {
  //   // @include box-shadow(inset 0 3px 5px rgba(0, 0, 0, .125));
  // }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    opacity: 0.5;
  }

  @include button-variant(
    var(--button-default-color),
    var(--button-default-background),
    var(--button-default-border)
  );

  &.primary {
    @include button-variant(
      var(--button-primary-color),
      var(--button-primary-background),
      var(--button-primary-border),
      var(--button-primary-hover-background),
      var(--button-primary-active-background),
      var(--button-primary-hover-border),
      var(--button-primary-active-border)
    );
  }

  &.success {
    @include button-variant(
      var(--button-success-color),
      var(--button-success-background),
      var(--button-success-border),
      var(--button-success-hover-background),
      var(--button-success-active-background),
      var(--button-success-hover-border),
      var(--button-success-active-border)
    );
  }

  &.info {
    @include button-variant(
      var(--button-info-color),
      var(--button-info-background),
      var(--button-info-border),
      var(--button-info-hover-background),
      var(--button-info-active-background),
      var(--button-info-hover-border),
      var(--button-info-active-border)
    );
  }

  &.warning {
    @include button-variant(
      var(--button-warning-color),
      var(--button-warning-background),
      var(--button-warning-border),
      var(--button-warning-hover-background),
      var(--button-warning-active-background),
      var(--button-warning-hover-border),
      var(--button-warning-active-border)
    );
  }

  &.danger {
    @include button-variant(
      var(--button-danger-color),
      var(--button-danger-background),
      var(--button-danger-border),
      var(--button-danger-hover-background),
      var(--button-danger-active-background),
      var(--button-danger-hover-border),
      var(--button-danger-active-border)
    );
  }
}

// Button Sizing
// -------------------------
input[type='button'],
input[type='submit'],
button,
.button {
  &.mini {
    @include button-size(
      var(--padding-mini-vertical),
      var(--padding-mini-horizontal),
      var(--font-size-mini),
      var(--line-height-mini),
      var(--border-radius)
    );
  }

  &.small {
    @include button-size(
      var(--padding-small-vertical),
      var(--padding-small-horizontal),
      var(--font-size-small),
      var(--line-height-small),
      var(--border-radius)
    );
  }

  &.large {
    @include button-size(
      var(--padding-large-vertical),
      var(--padding-large-horizontal),
      var(--font-size-large),
      var(--line-height-large),
      var(--border-radius)
    );
  }
}

// Block Button
// -------------------------
input[type='button'],
input[type='submit'],
button,
.button {
  &.block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

// Group Buttons
// --------------------------------------------------

.buttons {
  display: flow-root;
  display: inline-block;
  vertical-align: middle;
  position: relative;

  input[type='button'],
  input[type='submit'],
  button,
  .button {
    float: left;

    &:first-child {
      &:not(:last-child) {
        @include border-right-radius(0);
      }
    }

    &:last-child {
      &:not(:first-child) {
        margin-left: -1px;

        @include border-left-radius(0);
      }
    }

    &:not(:first-child, :last-child) {
      margin-left: -1px;
      border-radius: 0;
    }

    &:hover {
      z-index: 2;
    }
  }
}

// Vertical Group Buttons
// ------------------------
.buttons.vertical {
  display: flow-root;
  display: inline-block;

  input[type='button'],
  input[type='submit'],
  button,
  .button {
    display: block;
    float: none;
    width: 100%;

    &:first-child {
      &:not(:last-child) {
        @include border-top-radius(var(--border-radius));
        @include border-bottom-radius(0);
      }
    }

    &:last-child {
      &:not(:first-child) {
        @include border-top-radius(0);
        @include border-bottom-radius(var(--border-radius));

        box-shadow: 0 -1px 0 rgb(0 0 0 / 15%) inset;
        margin-left: 0;
        margin-top: -1px;
      }
    }

    &:not(:first-child, :last-child) {
      margin-left: 0;
      margin-top: -1px;
    }
  }
}

// Justified Group Buttons
// ------------------------
.buttons.justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  position: relative;

  &::before,
  &::after {
    display: none;
  }

  > .buttons,
  .button {
    float: none;
    display: table-cell;
    width: 1%;
    position: relative;
  }

  .button:first-child {
    &:not(:last-child) {
      border-right-width: 0;

      &::after {
        display: block;
        content: ' ';
        position: absolute;
        top: 0;
        right: -1px;
        width: 1px;
        height: 100%;
        z-index: 1;
        border-right: 1px solid rgb(0 0 0 / 15%);
      }

      &:hover {
        border-right-width: 1px;

        &::after {
          display: none;
        }
      }
    }
  }

  .button:not(:first-child, :last-child) {
    border-left-width: 0;
    border-right-width: 0;

    &::after {
      display: block;
      content: ' ';
      position: absolute;
      top: 0;
      right: -1px;
      width: 1px;
      height: 100%;
      z-index: 1;
      border-right: 1px solid rgb(0 0 0 / 15%);
    }

    &:hover {
      border-left-width: 1px;
      border-right-width: 1px;

      &::after {
        display: none;
      }
    }
  }

  .button:last-child {
    &:not(:first-child) {
      border-left-width: 0;

      &:hover {
        border-left-width: 1px;
      }
    }
  }

  > .buttons {
    input[type='button'],
    input[type='submit'],
    button {
      width: 100%;
      // border-right: 1px solid rgba(0, 0, 0, 0.15);
      border-left-width: 0;
      border-right-width: 0;
    }

    &:first-child:not(:last-child) {
      input[type='button'],
      input[type='submit'],
      button {
        @include border-right-radius(0);

        border-left-width: 1px;

        &::after {
          display: block;
          content: ' ';
          position: absolute;
          top: 0;
          right: -1px;
          width: 1px;
          height: 100%;
          z-index: 1;
          border-right: 1px solid rgb(0 0 0 / 15%);
        }

        &:hover {
          border-right-width: 1px;

          &::after {
            display: none;
          }
        }
      }
    }

    &:not(:first-child, :last-child) {
      > input[type='button'],
      > input[type='submit'],
      > button {
        @include border-left-radius(0);
        @include border-right-radius(0);

        &::after {
          display: block;
          content: ' ';
          position: absolute;
          top: 0;
          right: -1px;
          width: 1px;
          height: 100%;
          z-index: 1;
          border-right: 1px solid rgb(0 0 0 / 15%);
        }

        &:hover {
          border-left-width: 1px;
          border-right-width: 1px;

          &::after {
            display: none;
          }
        }
      }
    }

    &:last-child:not(:first-child) {
      input[type='button'],
      input[type='submit'],
      button {
        @include border-left-radius(0);

        border-right-width: 1px;

        &:hover {
          border-left-width: 1px;
        }
      }
    }
  }
}
