// Blockquote & Callout
// --------------------------------------------------

blockquote,
.callout {
  padding: calc(var(--line-height-computed) / 2) var(--line-height-computed);
  margin: 0 0 var(--line-height-computed);
  font-size: var(--blockquote-font-size);
  border-left: 5px solid var(--gray-lighter);

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  footer,
  small,
  .small {
    display: block;
    font-size: 80%; // back to default font-size
    line-height: var(--line-height-base);
    color: var(--gray-light);

    &::before {
      content: '\2014 \00A0';
    }

    // em dash, nbsp
  }

  footer {
    margin-top: 0;
  }
}

// Opposite alignment
blockquote,
.callout {
  &.reverse,
  &.righted {
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid var(--gray-lighter);
    border-left: 0;
    text-align: right;

    // Account for citation
    footer,
    small,
    .small {
      &::before {
        content: '';
      }

      &::after {
        content: '\00A0 \2014';
      }

      // nbsp, em dash
    }
  }
}

// Quotes
blockquote::before,
.callout::before,
blockquote::after,
.callout::after {
  content: '';
}

blockquote,
.callout {
  &.primary {
    border-color: var(--border-color-primary);
    background-color: var(--state-primary-background);
    color: #fff;
  }

  &.success {
    border-color: var(--border-color-success);
    background-color: var(--state-success-background);
  }

  &.info {
    border-color: var(--border-color-info);
    background-color: var(--state-info-background);
  }

  &.warning {
    border-color: var(--border-color-warning);
    background-color: var(--state-warning-background);
  }

  &.danger {
    border-color: var(--border-color-danger);
    background-color: var(--state-danger-background);
  }
}

.callout {
  border-width: 3px;
  padding: calc(var(--line-height-computed) / 2);
  font-size: var(--callout-font-size);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:first-child {
      margin-top: 0;
    }
  }

  &.success {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--border-color-success);
    }
  }

  &.info {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--border-color-info);
    }
  }

  &.warning {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--border-color-warning);
    }
  }

  &.danger {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--border-color-danger);
    }
  }
}
