// Blockquote & Callout
// --------------------------------------------------

@use 'variables' as *;

blockquote,
.callout {
  padding: calc(var(--line-height-computed) / 2) var(--line-height-computed);
  margin: 0 0 var(--line-height-computed);
  font-size: var(--blockquote-font-size);
  border-left: 5px solid var(--gray-lighter);

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  footer,
  small,
  .small {
    display: block;
    font-size: 80%;
    line-height: var(--line-height-base);
    color: var(--gray-light);

    &::before {
      content: '\2014 \00A0';
    }
  }

  footer {
    margin-top: 0;
  }
}

// Opposite alignment
blockquote,
.callout {
  &.reverse,
  &.righted {
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid var(--gray-lighter);
    border-left: 0;
    text-align: right;

    footer,
    small,
    .small {
      &::before {
        content: '';
      }

      &::after {
        content: '\00A0 \2014';
      }
    }
  }
}

// Quotes
blockquote::before,
.callout::before,
blockquote::after,
.callout::after {
  content: '';
}

// Callout component variables
.callout {
  --callout-primary-background: var(--primary);
  --callout-primary-text: #fff;
  --callout-success-background: var(--state-success-background);
  --callout-success-text: var(--state-success-text);
  --callout-info-background: var(--state-info-background);
  --callout-info-text: var(--state-info-text);
  --callout-warning-background: var(--state-warning-background);
  --callout-warning-text: var(--state-warning-text);
  --callout-danger-background: var(--state-danger-background);
  --callout-danger-text: var(--state-danger-text);
}

// Contextual variants
blockquote,
.callout {
  @each $variant in $variants {
    &.#{$variant} {
      border-color: var(--border-color-#{$variant});
      background-color: var(--state-#{$variant}-background);
      color: #fff;
    }
  }
}

.callout {
  border-width: 3px;
  padding: calc(var(--line-height-computed) / 2);
  font-size: var(--callout-font-size);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:first-child {
      margin-top: 0;
    }
  }

  @each $variant in $variants {
    &.#{$variant} {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: var(--border-color-#{$variant});
      }
    }
  }
}
