// Close icons
// --------------------------------------------------

@use 'mixins' as *;

.close:not(.icon) {
  float: right;
  font-size: calc(var(--font-size-base) * 1.5);
  font-weight: var(--close-font-weight);
  line-height: 1;
  color: var(--close-color);
  text-shadow: var(--close-text-shadow);
  opacity: 0.2;

  &:hover,
  &:focus {
    color: var(--close-color);
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
  }

  // [converter] extracted button& to button.close
}

// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  appearance: none;
}
