// Code (inline and block)
// --------------------------------------------------

@use 'sass:math';
@use 'variables' as *;

// Inline and block code styles
code,
kbd,
pre,
samp {
  font-family: $font-family-monospace;
}

// Inline code
code {
  padding: 2px 4px;
  font-size: 90%;
  color: $code-color;
  background-color: $code-background;
  border-radius: $border-radius;
}

// User input typically entered via keyboard
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: $kbd-color;
  background-color: $kbd-background;
  border-radius: $border-radius-small;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 25%);
}

// Blocks of code
pre {
  display: block;
  padding: math.div($line-height-computed - 1, 2);
  margin: 0 0 math.div($line-height-computed, 2);
  font-size: ($font-size-base - 1); // 14px to 13px
  line-height: $line-height-base;
  word-break: break-all;
  word-wrap: break-word;
  color: $pre-color;
  background-color: $pre-background;
  border: 1px solid $pre-border-color;
  border-radius: $border-radius;

  // Account for some code outputs that place code tags in pre tags
  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
  }

  // Enable scrollable blocks of code
  &.scrollable {
    max-height: $pre-scrollable-max-height;
    overflow-y: scroll;
  }
}
