// Code (inline and block)
// --------------------------------------------------

@use 'sass:math';

// Inline and block code styles
code,
kbd,
pre,
samp {
  font-family: var(--font-family-monospace);
}

// Inline code
code {
  padding: 2px 4px;
  font-size: 90%;
  color: var(--code-color);
  background-color: var(--code-background);
  border-radius: var(--border-radius);
}

// User input typically entered via keyboard
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: var(--kbd-color);
  background-color: var(--kbd-background);
  border-radius: var(--border-radius-small);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 25%);
}

// Blocks of code
pre {
  display: block;
  padding: calc(var(--line-height-computed) / 2);
  margin: 0 0 calc(var(--line-height-computed) / 2);
  font-size: calc(var(--font-size-base) - 1px); // 14px to 13px
  line-height: var(--line-height-base);
  word-break: break-all;
  word-wrap: break-word;
  color: var(--gray-dark);
  background-color: var(--pre-background);
  border: 1px solid var(--pre-border-color);
  border-radius: var(--border-radius);

  // Account for some code outputs that place code tags in pre tags
  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
  }

  // Enable scrollable blocks of code
  &.scrollable {
    max-height: var(--pre-scrollable-max-height);
    overflow-y: scroll;
  }
}
