// Forms
// --------------------------------------------------

@use 'sass:math';
@use 'sass:list';
@use 'sass:string';
@use 'sass:color';

// $input-types: "text", "password", "datetime", "datetime-local", "date", "month", "time", "week", "number", "email", "url", "search", "tel", "color";

// Input variants
// -------------------------
@mixin input-variant($border-color, $border-hover: null, $border-focus: null) {
  $use-css-vars: string.index($border-color, 'var(') != null;

  color: var(--gray);
  background-color: #fff;
  border-color: $border-color;

  &:hover {
    @if $use-css-vars and $border-hover {
      border-color: $border-hover;
    } @else if not $use-css-vars {
      filter: brightness(0.95);
    }
  }

  &:focus,
  &:active,
  &.active {
    @if $use-css-vars and $border-hover {
      border-color: $border-hover;
    } @else if not $use-css-vars {
      filter: brightness(0.9);
    }

    @if $use-css-vars and $border-focus {
      box-shadow: 0 0 0 1px $border-focus, inset 0 1px #f5f5f5;
    } @else if not $use-css-vars {
      box-shadow:
        0 0 0 1px color.adjust($border-color, $lightness: -15%),
        inset 0 1px #f5f5f5;
    }
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover,
    &:active,
    &.active {
      border-color: var(--border-color-default);
      cursor: not-allowed;
      background-color: #eee;
      opacity: 0.55;
    }
  }
}

// Field variants
// -------------------------
@mixin field-variant($border-color, $border-hover: null, $border-focus: null) {
  color: $border-color;

  input.text,
  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='number'],
  textarea,
  select {
    @include input-variant($border-color, $border-hover, $border-focus);
  }
}

// Input sizing
// -------------------------
@mixin input-size($input-height, $padding-vertical, $padding-horizontal, $font-size, $line-height) {
  height: $input-height;
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
}

// Base styles
// -------------------------

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;

  &[disabled] {
    input.text,
    input[type='text'],
    input[type='password'],
    input[type='email'],
    input[type='number'],
    textarea,
    select,
    button {
      &,
      &:hover,
      &:active,
      &.active {
        cursor: not-allowed;
        background-color: #eee;
        border-width: 1px;
        opacity: 1;
      }
    }
  }
}

input.text,
input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
textarea,
select {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: left;
  border: 1px solid #ccc;
  white-space: nowrap;
  outline: none;
  position: relative;
  box-shadow: inset 0 1px #f5f5f5;
  background-color: transparent;
  transition:
    border-color ease-in-out 0.1s,
    box-shadow ease-in-out 0.1s;

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    user-select: none;
  }
}

textarea {
  display: block;
  line-height: 20px;
  min-height: 120px;
  margin-bottom: 10px;
  white-space: normal;
  resize: vertical;
  color: #555;
  background-color: #fff;
  background-image: none;
}

label {
  display: inline-block;
  margin-bottom: 2px;
}

// Input Styles
// -------------------------

input.text,
input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
textarea {
  @include input-variant(
    var(--border-color-default),
    var(--border-color-default-hover),
    var(--border-color-default-focus)
  );

  &.primary {
    @include input-variant(
      var(--border-color-primary),
      var(--border-color-primary-hover),
      var(--border-color-primary-focus)
    );
  }

  &.success {
    @include input-variant(
      var(--border-color-success),
      var(--border-color-success-hover),
      var(--border-color-success-focus)
    );
  }

  &.info {
    @include input-variant(
      var(--border-color-info),
      var(--border-color-info-hover),
      var(--border-color-info-focus)
    );
  }

  &.warning {
    @include input-variant(
      var(--border-color-warning),
      var(--border-color-warning-hover),
      var(--border-color-warning-focus)
    );
  }

  &.danger {
    @include input-variant(
      var(--border-color-danger),
      var(--border-color-danger-hover),
      var(--border-color-danger-focus)
    );
  }

  &.fluid {
    width: 100%;
  }
}

// Input Sizing
// -------------------------
input.text,
input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
textarea,
select {
  @include input-size(
    var(--input-height-default),
    var(--input-padding-default-vertical),
    var(--input-padding-default-horizontal),
    var(--font-size-base),
    var(--line-height-base)
  );

  &.small {
    @include input-size(
      var(--input-height-small),
      var(--input-padding-small-vertical),
      var(--input-padding-small-horizontal),
      var(--font-size-small),
      var(--line-height-small)
    );
  }

  &.large {
    @include input-size(
      var(--input-height-large),
      var(--input-padding-large-vertical),
      var(--input-padding-large-horizontal),
      var(--font-size-large),
      var(--line-height-large)
    );
  }
}

.hint {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #9e9e9e; // Pre-calculated: text-color lightened 25%
}

.field {
  margin-bottom: 15px;

  label {
    display: inline-block;
  }

  &:not(.checkbox) {
    label {
      font-weight: 700;
    }
  }

  input.text,
  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='number'],
  select,
  textarea {
    width: 100%;
  }

  &.success {
    @include field-variant(
      var(--border-color-success),
      var(--border-color-success-hover),
      var(--border-color-success-focus)
    );
  }

  &.warning {
    @include field-variant(
      var(--border-color-warning),
      var(--border-color-warning-hover),
      var(--border-color-warning-focus)
    );
  }

  &.error {
    @include field-variant(
      var(--border-color-danger),
      var(--border-color-danger-hover),
      var(--border-color-danger-focus)
    );
  }

  &.feedback {
    position: relative;

    input.text,
    input[type='text'],
    input[type='password'],
    input[type='email'],
    input[type='number'],
    select,
    textarea {
      padding-right: 50px;
    }

    .icon {
      width: 34px;
      height: 34px;
      line-height: 34px;
      text-align: center;
      position: absolute;
      right: 0;
      top: 22px;
      z-index: 1;
    }
  }
}

// Inline form
// -------------------------
.navbar form,
form.inline {
  .field {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;

    input.text,
    input[type='text'],
    input[type='password'],
    input[type='email'],
    input[type='number'],
    input[type='email'] {
      width: auto;
    }
  }

  &.unlabel {
    .field:not(.checkbox) {
      label {
        display: none;
      }
    }
  }

  > button {
    margin-top: -3px;
  }
}

.inline {
  input.text,
  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='number'] {
    width: auto;
  }
}

// Horizontal Form
// -------------------------
form.horizontal {
  $offsets: 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven';

  @for $i from 1 through list.length($offsets) {
    &.offset.#{list.nth($offsets, $i)} {
      .field {
        position: relative;
        vertical-align: middle;
        display: flow-root;
        padding-left: calc(100% / 12 * $i);

        &:not(.checkbox) {
          label {
            float: left;
            width: calc(100% / 12 * $i);
            height: 34px;
            margin-left: calc(-100% / 12 * $i);
            margin-bottom: 0;
            padding-right: 15px;
            padding-top: 6px;
            text-align: right;
          }
        }

        .static {
          padding-top: 6px;
          margin-bottom: 0;
        }
      }
    }
  }
}

// With optional icons
// -------------------------
form.inline,
form.horizontal {
  .field.feedback {
    .icon {
      top: 0;
    }
  }
}

// Input justified
.justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;

  &::before,
  &::after {
    display: none;
  }

  .field {
    float: none;
    display: table-cell;
    width: 1%;
    padding: 0 5px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    input.text,
    input[type='text'],
    input[type='password'],
    input[type='email'],
    input[type='number'] {
      width: 100%;
    }
  }
}

.inputs {
  position: relative; // For dropdowns
  display: table;
  border-collapse: separate; // prevent input groups from inheriting border styles from table cells when placed within a table

  .addon {
    display: table-cell;
    padding: var(--padding-base-vertical) var(--padding-base-horizontal);
    font-size: var(--font-size-base);
    font-weight: normal;
    line-height: 1;
    // color: $input-color;
    text-align: center;
    background-color: var(--input-group-addon-background);
    border: 1px solid var(--input-group-addon-border-color);
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;

    // Nuke default margins from checkboxes and radios to vertically center within.
    input[type='radio'],
    input[type='checkbox'] {
      margin-top: 0;
    }
  }

  > input {
    display: table-cell !important;
    width: 100%;

    &:focus {
      box-shadow: none !important;
    }
  }

  > .buttons {
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle; // Match the inputs

    &:first-child {
      button:first-child,
      .button:first-child {
        border-right: 0;
      }
    }

    &:last-child {
      button:first-child,
      .button:first-child {
        border-left: 0;
      }
    }

    button,
    .button {
      box-shadow: none;
    }
  }

  > input,
  .addon,
  .buttons {
    &:first-child {
      border-right: 0;
    }

    &:last-child {
      border-left: 0;
    }
  }
}
