// Grid system
// --------------------------------------------------

@use 'sass:list';

.container {
  margin-right: auto;
  margin-left: auto;
  // padding-left:  ($grid-gutter-width / 2);
  // padding-right: ($grid-gutter-width / 2);
  display: flow-root;

  @media (width >= 768px) {
    width: 750px;
  }

  @media (width >= 992px) {
    width: 970px;
  }

  @media (width >= 1200px) {
    width: 1170px;
  }
}

//  GRID COLUMN SETUP
// -------------------------

.grid {
  display: flow-root;
  > .column {
    display: block;
    min-height: 1px;
    float: left;
    padding-left: 5px;
    padding-right: 5px;

    &:first-child {
      margin-left: 0;
    }

    &.righted {
      float: right;
    }

    &.centered {
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@mixin column-child($columns) {
  > .column {
    width: calc(100% / $columns);
  }
}

@mixin column-self($columns, $value) {
  &.column {
    width: calc((100% / $columns) * $value);
  }
}

$columns:
  'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve';

@for $i from 1 through list.length($columns) {
  .grid.#{list.nth($columns, $i)} {
    @include column-child($i + 1);

    @if $i - 1 > 0 {
      @for $j from 1 through $i - 1 {
        > .#{list.nth($columns, $j)} {
          @include column-self($i + 1, $j + 1);
        }
      }
    }
  }
}

// Go full width at less than 480px
@media only screen and (width <= 480px) {
  @for $i from 1 through list.length($columns) {
    .grid.#{list.nth($columns, $i)} {
      @include column-child(1);

      @for $j from 1 through $i {
        > .#{list.nth($columns, $j)} {
          @include column-self($i + 1, $i + 1);
        }
      }
    }
  }
}
