// Images
// --------------------------------------------------

@use 'variables' as *;
@use 'mixins' as *;

// Image Mixins
// - Responsive image
// - Retina image

// Responsive image
// Keep images from scaling beyond the width of their parents.
@mixin img-responsive($display: block) {
  display: $display;
  width: 100% \9; // Force IE10 and below to size SVG images correctly
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}

img {
  vertical-align: middle;

  &.responsive {
    max-width: 100%;
    height: auto;
  }

  &.rounded {
    border-radius: $border-radius-large;
  }

  &.circle {
    border-radius: 50%;
  }

  &.thumbnail {
    padding: 4px;
    line-height: 1.4286;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: $border-radius;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
  }

  &.disabled {
    cursor: default;

    opacity: 0.3;
  }

  &.fluid {
    display: block;
    width: 100%;
  }
}

// Inspired by the original by http://www.hongkiat.com/blog/css3-image-captions/
.thumbnail {
  display: inline-block;
  cursor: pointer;
  margin: 5px;
  position: relative;
  overflow: hidden;

  img {
    position: relative;
    transition: all 300ms ease-out;
  }

  .caption {
    width: 100%;
    overflow: hidden;
    padding: 5px;
    background-color: rgb(0 0 0 / 80%);
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    transition: all 300ms ease-out;
  }

  &.simple .caption {
    height: 30px;
    bottom: -30px;
    text-align: center;
  }

  &.simple:hover .caption {
    opacity: 1;
    transform: translateY(-100%);
  }

  &.full .caption {
    height: 100%;
    top: -100%;
    overflow: hidden;
  }

  &.full:hover .caption {
    transform: translateY(100%);
  }

  &.fade {
    opacity: 1;
  }

  &.fade .caption {
    opacity: 0;
    top: 0;
    bottom: 0;
  }

  &.fade:hover .caption {
    opacity: 1;
  }

  &.slide .caption {
    top: 0;
    left: 100%;
    bottom: 0;
  }

  &.slide:hover img {
    transform: translateX(-100%);
    opacity: 1;
  }

  &.slide:hover .caption {
    background-color: rgb(0 0 0 / 100%) !important;
    transform: translateX(-100%);
    opacity: 1;
  }

  &.rotate img {
    transform-origin: center bottom;
    opacity: 1;
  }

  &.rotate:hover img {
    transform: rotate3d(0, 0, 1, -180deg);
  }

  &.rotate .caption {
    top: 0;
    height: 100%;
    background-color: rgb(0 0 0 / 100%) !important;
    transform-origin: center bottom;
    transform: rotate3d(0, 0, 1, 180deg);
  }

  &.rotate:hover .caption {
    transform: none;
  }

  &.scale .caption {
    overflow: hidden;
    opacity: 0;
    top: 0;
    bottom: 0;

    h3,
    p {
      position: relative;
      left: -100%;
      transition: all 300ms ease-out;
    }

    h3 {
      transition-delay: 300ms;
    }

    p {
      transition-delay: 500ms;
    }
  }

  &.scale:hover {
    img {
      transform: scale(1.4);
    }

    .caption {
      opacity: 1;

      h3,
      p {
        transform: translateX(100%);
      }
    }
  }
}
