// Labels
// --------------------------------------------------

@use 'variables' as *;

// Label component variables
.label {
  --label-default-background: #999;
  --label-default-background-hover: #8a8a8a;
  --label-color: #fff;
  --label-link-hover-color: #fff;
}

// Base styles
.label {
  display: inline;
  padding: 0.25em 0.6em 0.28em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: var(--label-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--border-radius);
  background-color: var(--label-default-background);

  // Empty labels collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }

  // Quick fix for labels in buttons
  .button & {
    position: relative;
    top: -1px;
  }

  // Hover effect for linked labels
  &[href] {
    &:hover,
    &:focus {
      color: var(--label-link-hover-color);
      text-decoration: none;
      cursor: pointer;
      filter: brightness(0.9);
    }
  }

  // Label variants
  @each $variant in $variants {
    &.#{$variant} {
      --label-background-variant: var(--#{$variant});

      background-color: var(--label-background-variant);
    }
  }

  // Size variant
  &.large {
    padding: 0.4em 0.8em 0.5em;
    font-size: 120%;
  }
}
