// Lists
// --------------------------------------------------

@use 'sass:list';
@use 'variables' as *;

// List group variants
@mixin list-group-item-variant($state, $background, $color) {
  > li.#{$state},
  .item.#{$state},
  > a.#{$state} {
    color: $color;
    background-color: $background;
  }

  > a.#{$state} {
    .heading {
      color: inherit;
    }

    &:hover,
    &:focus {
      color: $color;
      filter: brightness(0.95);
    }

    &.active,
    &.active:hover,
    &.active:focus {
      color: #fff;
      background-color: $color;
      border-color: $color;
      filter: none;
    }
  }
}

// Unordered and Ordered lists
ul,
ol {
  margin-top: 0;
  margin-bottom: calc(var(--line-height-computed) / 2);

  ul,
  ol {
    margin-bottom: 0;
  }
}

// List options
ul.unstyled {
  padding-left: 0;
  list-style: none;
}

// Inline
ul.inline {
  @extend %unstyled !optional;

  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }

  &.justified {
    > li {
      float: none;
      display: table-cell;
      width: 1%;
    }
  }
}

// Grids
ul.grid,
ol.grid {
  > li {
    float: left;
  }
}

$columns:
  'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve';

@for $i from 1 through list.length($columns) {
  ul.grid,
  ol.grid {
    &.#{list.nth($columns, $i)} {
      > li {
        width: calc(100% / ($i + 1));
      }
    }
  }
}

// Description Lists
dl {
  margin-top: 0;
  margin-bottom: var(--line-height-computed);

  dt,
  dd {
    line-height: var(--line-height-base);
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 0;
  }
}

// Horizontal description lists
dl.horizontal {
  dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  dd {
    display: flow-root;
    margin-left: 180px;
  }
}

// List groups
// --------------------------------------------------

// List group component variables
.group {
  --list-group-background: #fff;
  --list-group-border-color: #ddd;
  --list-group-border-radius: 2px;
  --list-group-hover-background: #f5f5f5;
  --list-group-active-color: #fff;
  --list-group-active-background: var(--primary);
  --list-group-active-border: var(--primary);
  --list-group-active-text-color: #d9f2ff;
  --list-group-disabled-color: #999;
  --list-group-disabled-background: #eee;
  --list-group-disabled-text-color: #999;
  --list-group-link-color: #555;
  --list-group-link-hover-color: #555;
}

// Base class
ul,
ol,
div,
section {
  &.group {
    margin-bottom: 20px;
    padding-left: 0;

    > li,
    > a,
    .item {
      position: relative;
      display: flow-root;
      padding: 10px 15px;
      margin-bottom: -1px;
      margin-top: 0;
      background-color: var(--list-group-background);
      border: 1px solid var(--list-group-border-color);

      &:last-child {
        margin-bottom: 0;
      }

      > .label {
        float: right;
      }
    }

    > a {
      color: var(--list-group-link-color);

      &:hover,
      &:focus {
        text-decoration: none;
        color: var(--list-group-link-hover-color);
        background-color: var(--list-group-hover-background);
      }
    }

    > li,
    > a,
    .item {
      &.disabled,
      &.disabled:hover,
      &.disabled:focus {
        background-color: var(--list-group-disabled-background);
        color: var(--list-group-disabled-color);

        .heading {
          color: inherit;
        }

        .text {
          color: var(--list-group-disabled-text-color);
        }
      }

      &.active,
      &.active:hover,
      &.active:focus {
        z-index: 2;
        color: var(--list-group-active-color);
        background-color: var(--list-group-active-background);
        border-color: var(--list-group-active-border);

        .heading {
          color: inherit;
        }

        .text {
          color: var(--list-group-active-text-color);
        }
      }
    }

    // Contextual variants
    @include list-group-item-variant(success, var(--state-success-background), var(--state-success-text));
    @include list-group-item-variant(info, var(--state-info-background), var(--state-info-text));
    @include list-group-item-variant(warning, var(--state-warning-background), var(--state-warning-text));
    @include list-group-item-variant(danger, var(--state-danger-background), var(--state-danger-text));

    // Custom content options
    .heading {
      margin-top: 0;
      margin-bottom: 5px;
    }

    .text {
      margin-bottom: 0;
      line-height: 1.3;
    }
  }
}
