// Menu
// --------------------------------------------------

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  &.righted {
    float: right;
  }

  .menu {
    display: none;
  }

  > li {
    position: relative;

    > a {
      display: block;
      padding: 0 15px;
      text-decoration: none;
      color: #666;
      position: relative;
    }

    &.active {
      a {
        color: #428bca;
        background: #f5f5f5;

        &::after {
          height: 3px;
          background-color: #428bca;
        }
      }
    }
  }
}
