// Message
// --------------------------------------------------

@use 'sass:color';
@use 'variables' as *;
@use 'mixins' as *;

// Mixin
@mixin message-variant($background, $border, $text-color) {
  background-color: $background;
  border-color: $border;
  color: $text-color;

  a {
    color: color.adjust($text-color, $lightness: -10%);
  }
}

// Base styles
// -------------------------
.message {
  display: none;
  width: 100%;
  padding: 10px 20px;
  padding: $message-padding;
  line-height: 1.8;
  font-size: 16px;
  background: #fff;
  background: rgb(255 255 255 / 90%);
  color: #666;
  text-align: center;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--zindex-message);

  &.top {
    top: 0;
    bottom: auto;
  }

  &.bottom {
    top: auto;
    bottom: 0;
  }

  h4 {
    margin: 0;
    color: inherit;
  }
  a {
    font-weight: $message-link-font-weight;
  }

  .close {
    display: inline;
    float: right;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}

// Alternate styles
// Generate contextual modifier classes for colorizing the message.
.message {
  &.success {
    @include message-variant(
      $message-success-background,
      $message-success-border,
      $message-success-text
    );
  }
  &.info {
    @include message-variant($message-info-background, $message-info-border, $message-info-text);
  }
  &.warning {
    @include message-variant(
      $message-warning-background,
      $message-warning-border,
      $message-warning-text
    );
  }
  &.danger {
    @include message-variant(
      $message-danger-background,
      $message-danger-border,
      $message-danger-text
    );
  }
}
