// Typography
// --------------------------------------------------
// Text emphasis variant using CSS custom properties
@mixin text-emphasis-variant($parent, $color) {
  #{$parent} {
    color: $color;
  }
  a#{$parent}:hover {
    filter: brightness(0.9);
  }
}

// Contextual backgrounds
// --------------------------------------------------
// Background color variant using CSS custom properties
@mixin background-variant($parent, $color) {
  #{$parent} {
    background-color: $color;
  }
  a#{$parent}:hover {
    filter: brightness(0.9);
  }
}
