// Mixins
// --------------------------------------------------

@use "sass:color";

// Clearfix
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix() {
  &::before,
  &::after {
    content: " "; // 1
    display: table; // 2
  }

  &::after {
    clear: both;
  }
}

// Box sizing
@mixin box-sizing($boxmodel) {
  box-sizing: $boxmodel;
}


// User select
// For selecting text on the page

@mixin user-select($select) {
  user-select: $select;
}


// Opacity

@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);

  filter: #{alpha(opacity=$opacity-ie)};
}


// Drop shadows

@mixin box-shadow($shadow...) {
  box-shadow: $shadow; // iOS <4.3 & Android <4.1
}


// Gradients
@mixin gradient-striped($color: rgba(255,255,255,.15), $angle: 45deg) {
  background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
}


// Transforms
// --------------------------------------------------
@mixin transform($transform...) {
  transform: $transform;
}


// Transitions
// --------------------------------------------------
@mixin transition($transition...) {
  transition: $transition;
}

@mixin transition-property($property...) {
  transition-property: $property;
}

@mixin transition-duration($duration...) {
  transition-duration: $duration;
}

@mixin transition-timing-function($function...) {
  transition-timing-function: $function;
}

@mixin transition-transform($transition...) {
  transition: transform $transition;
}

@mixin translate($x, $y) {
  transform: translate($x, $y);
}

@mixin translate3d($x, $y, $z) {
  transform: translate3d($x, $y, $z);
}

// Animations
// --------------------------------------------------
@mixin animation-name($name) {
  animation-name: $name;
}

@mixin animation-duration($duration) {
  animation-duration: $duration;
}

@mixin animation-direction($direction) {
  animation-direction: $direction;
}


// Misc
// --------------------------------------------------
@mixin hairline($type, $color, $offset) {
  @if $type == single {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='1'><rect fill='#{$color}' x='0' y='0' width='100%' height='0.5'/></svg>");
    background-position: $offset 100%;

  }

 @else if $type == double {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='1'><rect fill='#{$color}' x='0' y='0' width='100%' height='0.5'/></svg>"),
                      url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='1'><rect fill='#{$color}' x='0' y='0' width='100%' height='0.5'/></svg>");
    background-position: $offset 100%, $offset 0;
  }

  background-repeat: no-repeat;
}


// Typography
// --------------------------------------------------
// [converter] $parent hack
@mixin text-emphasis-variant($parent, $color) {
  #{$parent} {
    color: $color;
  }
  a#{$parent}:hover {
    color: color.adjust($color, $lightness: -10%);
  }
}


// Contextual backgrounds
// --------------------------------------------------
// [converter] $parent hack
@mixin background-variant($parent, $color) {
  #{$parent} {
    background-color: $color;
  }
  a#{$parent}:hover {
    background-color: color.adjust($color, $lightness: -10%);
  }
}
