// Clearfix
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

@use 'sass:string';
@use 'sass:color';

@mixin clearfix() {
  &::before,
  &::after {
    content: ' '; // 1
    display: table; // 2
  }
  &::after {
    clear: both;
  }
}

// Typography
// --------------------------------------------------
// [converter] $parent hack
@mixin text-emphasis-variant($parent, $color) {
  $use-css-vars: string.index($color, 'var(') != null;

  #{$parent} {
    color: $color;
  }
  a#{$parent}:hover {
    @if $use-css-vars {
      filter: brightness(0.9);
    } @else {
      color: color.adjust($color, $lightness: -10%);
    }
  }
}

// Contextual backgrounds
// --------------------------------------------------
// [converter] $parent hack
@mixin background-variant($parent, $color) {
  $use-css-vars: string.index($color, 'var(') != null;

  #{$parent} {
    background-color: $color;
  }
  a#{$parent}:hover {
    @if $use-css-vars {
      filter: brightness(0.9);
    } @else {
      background-color: color.adjust($color, $lightness: -10%);
    }
  }
}
