@use 'sass:string';
@use 'sass:color';

// Typography
// --------------------------------------------------
// [converter] $parent hack
@mixin text-emphasis-variant($parent, $color) {
  $use-css-vars: string.index($color, 'var(') != null;

  #{$parent} {
    color: $color;
  }
  a#{$parent}:hover {
    @if $use-css-vars {
      filter: brightness(0.9);
    } @else {
      color: color.adjust($color, $lightness: -10%);
    }
  }
}

// Contextual backgrounds
// --------------------------------------------------
// [converter] $parent hack
@mixin background-variant($parent, $color) {
  $use-css-vars: string.index($color, 'var(') != null;

  #{$parent} {
    background-color: $color;
  }
  a#{$parent}:hover {
    @if $use-css-vars {
      filter: brightness(0.9);
    } @else {
      background-color: color.adjust($color, $lightness: -10%);
    }
  }
}
