// Navbar
// --------------------------------------------------

.navbar {
  min-height: 45px;
  background: #fff;
  border-color: #e8e8e8;
  border-style: solid;
  border-width: 0;
  border-width: 0 0 1px;

  &.top,
  &.bottom {
    position: fixed;
    left: 0;
    right: 0;
    z-index: var(--zindex-navbar-fixed);
  }
  &.top {
    top: 0;
    border-width: 0 0 1px;
  }
  &.bottom {
    bottom: 0;
    border-width: 1px 0 0;
  }

  .logo {
    float: left;
    .brand {
      display: block;
      line-height: 45px;
      padding: 0 20px;
      color: #666;
      text-decoration: none;
      font-weight: 700;
    }
  }

  .menu {
    float: left;

    > li {
      float: left;

      > a {
        text-align: center;
        padding: 0 20px;
        line-height: 45px;
        transition:
          padding 0.25s ease,
          color 0.25s ease,
          background-color 0.25s ease,
          box-shadow 0.25s ease;

        &::after {
          display: block;
          margin: 0 auto;
          content: '';
          position: absolute;
          left: 0;
          bottom: -1px;
          height: 0;
          width: 100%;
          transition: height 0.15s ease;
        }

        &:hover {
          color: #428bca;
          background: #f5f5f5;
          &::after {
            height: 3px;
            background-color: #428bca;
          }
        }
        &:active {
          background: #f0f0f0;
        }
      }

      &.active {
        > a {
          &::after {
            height: 3px;
            background-color: #428bca;
          }
        }
      }
    }
  }

  form {
    float: left;
    padding-top: 5px;
  }
}
