// Pagination (multiple pages)
// --------------------------------------------------

@use 'mixins' as *;

// Pagination component variables
.pagination {
  --pagination-color: #0085f0;
  --pagination-background: #fff;
  --pagination-border: #ddd;
  --pagination-hover-color: #0076e6;
  --pagination-hover-background: #eee;
  --pagination-hover-border: #ddd;
  --pagination-active-color: #fff;
  --pagination-active-background: #0085f0;
  --pagination-active-border: #0085f0;
  --pagination-disabled-color: #999;
  --pagination-disabled-background: #fff;
  --pagination-disabled-border: #ddd;
}

.pager {
  --pager-background: #fff;
  --pager-border: #ddd;
  --pager-border-radius: 15px;
  --pager-hover-background: #eee;
  --pager-active-background: #0085f0;
  --pager-active-color: #fff;
  --pager-disabled-color: #999;
}

// mixin
@mixin pagination-size($padding-vertical, $padding-horizontal, $font-size, $border-radius) {
  > li {
    > a,
    > span {
      padding: $padding-vertical $padding-horizontal;
      font-size: $font-size;
    }
  }
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: var(--line-height-computed) 0;
  border-radius: var(--border-radius);

  > li {
    display: inline; // Remove list-style and block-level defaults
    > a,
    > span {
      position: relative;
      float: left; // Collapse white-space
      padding: var(--padding-base-vertical) var(--padding-base-horizontal);
      line-height: var(--line-height-base);
      text-decoration: none;
      color: var(--pagination-color);
      background-color: var(--pagination-background);
      border: 1px solid var(--pagination-border);
      margin-left: -1px;
    }
    &:first-child {
      > a,
      > span {
        margin-left: 0;
      }
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      color: var(--pagination-hover-color);
      background-color: var(--pagination-hover-background);
      border-color: var(--pagination-hover-border);
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      z-index: 2;
      color: var(--pagination-active-color);
      background-color: var(--pagination-active-background);
      border-color: var(--pagination-active-border);
      cursor: default;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: var(--pagination-disabled-color);
      background-color: var(--pagination-disabled-background);
      border-color: var(--pagination-disabled-border);
      cursor: not-allowed;
    }
  }
}

// Sizing
// --------------------------------------------------

// Large
.pagination.large {
  @include pagination-size(
    var(--padding-large-vertical),
    var(--padding-large-horizontal),
    var(--font-size-large),
    var(--border-radius-large)
  );
}

// Small
.pagination.small {
  @include pagination-size(
    var(--padding-small-vertical),
    var(--padding-small-horizontal),
    var(--font-size-small),
    var(--border-radius-small)
  );
}

// Pager pagination
// --------------------------------------------------

.pager {
  padding-left: 0;
  margin: var(--line-height-computed) 0;
  list-style: none;
  text-align: center;

  @include clearfix();
  li {
    display: inline;
    > a,
    > span {
      display: inline-block;
      padding: 5px 14px;
      background-color: var(--pager-background);
      border: 1px solid var(--pager-border);
      border-radius: var(--pager-border-radius);
    }

    > a:hover,
    > a:focus {
      text-decoration: none;
      background-color: var(--pager-hover-background);
    }
  }

  .next {
    > a,
    > span {
      float: right;
    }
  }

  .previous {
    > a,
    > span {
      float: left;
    }
  }

  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      color: var(--pager-disabled-color);
      background-color: var(--pager-background);
      cursor: not-allowed;
    }
  }
}
