// Progress bars
// --------------------------------------------------

@use 'variables' as *;
@use 'mixins' as *;

// Mixin
@mixin progress-bar-variant($color) {
  background-color: $color;
}

// Bar animations
@keyframes progress-bar-stripes {
  to {
    background-position: 32px 0;
  }
  from {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  to {
    background-position: 32px 0;
  }
  from {
    background-position: 0 0;
  }
}

// Progress outer container
.progress {
  overflow: hidden;
  height: $progress-height;
  margin-bottom: $progress-height;
  background-color: $progress-background;
  border-radius: $border-radius;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 10%);

  // Bar of progress
  .bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: $font-size-small;
    line-height: $progress-height;
    color: $progress-bar-color;
    text-align: center;
    background-color: $progress-bar-background;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
    transition: width 0.6s ease;
  }
}

// Striped bars
.progress .bar.striped,
.progress.striped .bar {
  @include gradient-striped();

  background-size: 32px 32px;
}

// Call animation for the active one
.progress.active .bar,
.progress .bar.active {
  animation: progress-bar-stripes 1.5s linear infinite;
}

// Variations
.progress .bar {
  &.success {
    @include progress-bar-variant($progress-bar-success-background);
  }
  &.info {
    @include progress-bar-variant($progress-bar-info-background);
  }
  &.warning {
    @include progress-bar-variant($progress-bar-warning-background);
  }
  &.danger {
    @include progress-bar-variant($progress-bar-danger-background);
  }
}
