// Progress bars
// --------------------------------------------------

// Progress component variables
.progress {
  --progress-height: 16px;
  --progress-background: #f5f5f5;
  --progress-bar-color: #fff;
  --progress-bar-background: #0085f0;
  --progress-bar-success-background: #81c735;
  --progress-bar-warning-background: #f0ad4e;
  --progress-bar-danger-background: #ff3a3c;
  --progress-bar-info-background: #5bc0de;
}

// Mixin
@mixin progress-bar-variant($color) {
  background-color: $color;
}

// Bar animations
@keyframes progress-bar-stripes {
  to {
    background-position: 32px 0;
  }
  from {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  to {
    background-position: 32px 0;
  }
  from {
    background-position: 0 0;
  }
}

// Progress outer container
.progress {
  overflow: hidden;
  height: var(--progress-height);
  margin-bottom: var(--progress-height);
  background-color: var(--progress-background);
  border-radius: var(--border-radius);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 10%);

  // Bar of progress
  .bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: var(--font-size-small);
    line-height: var(--progress-height);
    color: var(--progress-bar-color);
    text-align: center;
    background-color: var(--progress-bar-background);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
    transition: width 0.6s ease;
  }
}

// Striped bars
.progress .bar.striped,
.progress.striped .bar {
  background-image: linear-gradient(
    45deg,
    rgb(255 255 255 / 15%) 25%,
    transparent 25%,
    transparent 50%,
    rgb(255 255 255 / 15%) 50%,
    rgb(255 255 255 / 15%) 75%,
    transparent 75%,
    transparent
  );
  background-size: 32px 32px;
}

// Call animation for the active one
.progress.active .bar,
.progress .bar.active {
  animation: progress-bar-stripes 1.5s linear infinite;
}

// Variations
.progress .bar {
  &.success {
    @include progress-bar-variant(var(--progress-bar-success-background));
  }
  &.info {
    @include progress-bar-variant(var(--progress-bar-info-background));
  }
  &.warning {
    @include progress-bar-variant(var(--progress-bar-warning-background));
  }
  &.danger {
    @include progress-bar-variant(var(--progress-bar-danger-background));
  }
}
