// Scaffolding
// --------------------------------------------------

@use 'variables' as *;
@use 'mixins' as *;

// Reset the box-sizing
* {
  @include box-sizing(border-box);
}

*::before,
*::after {
  @include box-sizing(border-box);
}

// Body reset
// -------------------------
html {
  font-size: 100%;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
}

header {
  min-height: 45px;
}

footer {
  margin-top: 50px;
}

// Reset fonts for relevant elements
// -------------------------
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

// Links
// -------------------------

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: underline;
  }

  &:focus {
    // @include tab-focus();
  }
}

.shake {
  transform-origin: center center 0 50%;

  &:hover {
    animation-name: shake;
    animation-duration: 100ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
  }
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eee;
  box-sizing: content-box;

  &.dotted {
    border-top: 1px dotted #eee;
  }

  &.dashed {
    border-top: 1px dashed #eee;
  }

  &.double {
    border-top: 1px double #eee;
  }
}
