// Sidebar
// --------------------------------------------------

.sidebar {
  background-color: #fafafa;

  .menu {
    padding: 15px 0;

    > li {
      line-height: 30px;

      &:hover:not(.heading) {
        background: rgb(0 64 84 / 3%);
      }

      &.heading {
        text-transform: uppercase;
        padding-top: 30px;
        border-bottom: 1px solid #ccc;

        a {
          color: #333;
        }
      }

      &.heading:first-of-type {
        padding-top: 0;
      }

      &.active {
        background: rgb(0 64 84 / 5%);
      }
    }
  }
}
