// Carousel
// --------------------------------------------------

@use 'mixins' as *;
@use 'images' as *;

// Carousel component variables
.carousel {
  --carousel-text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
  --carousel-control-color: #fff;
  --carousel-control-width: 15%;
  --carousel-control-opacity: 0.5;
  --carousel-control-font-size: 20px;
  --carousel-indicator-active-background: #fff;
  --carousel-indicator-border-color: #fff;
  --carousel-caption-color: #fff;
}

// Wrapper for the slide container and indicators
.carousel {
  position: relative;

  .inner {
    position: relative;
    overflow: hidden;
    width: 100%;

    > .item {
      display: none;
      position: relative;
      transition: 0.6s ease-in-out left;

      // Account for jankitude on images
      > img,
      > a > img {
        @include img-responsive();

        line-height: 1;
        margin: 0 auto;
      }
    }

    > .active,
    > .next,
    > .prev {
      display: block;
    }

    > .active {
      left: 0;
    }

    > .next,
    > .prev {
      position: absolute;
      top: 0;
      width: 100%;
    }

    > .next {
      left: 100%;
    }
    > .prev {
      left: -100%;
    }
    > .next.left,
    > .prev.right {
      left: 0;
    }

    > .active.left {
      left: -100%;
    }
    > .active.right {
      left: 100%;
    }
  }

  // Left/right controls for nav
  // ---------------------------

  .control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--carousel-control-width);
    opacity: var(--carousel-control-opacity);
    font-size: var(--carousel-control-font-size);
    color: var(--carousel-control-color);
    text-align: center;
    text-shadow: var(--carousel-text-shadow);
    // We can't have this transition here because WebKit cancels the carousel
    // animation if you trip this while in the middle of another animation.

    // Set gradients for backgrounds
    &.left {
      // @include gradient-horizontal($start-color: rgba(0,0,0,.5), $end-color: rgba(0,0,0,.0001));
    }
    &.right {
      left: auto;
      right: 0;
      // @include gradient-horizontal($start-color: rgba(0,0,0,.0001), $end-color: rgba(0,0,0,.5));
    }

    // Hover/focus state
    &:hover,
    &:focus {
      outline: 0;
      color: var(--carousel-control-color);
      text-decoration: none;
      opacity: 0.9;
    }

    // Toggles
    .icon-prev,
    .icon-next,
    .chevron-left,
    .chevron-right {
      position: absolute;
      top: 50%;
      z-index: 5;
      display: inline-block;
    }
    .icon-prev,
    .chevron-left {
      left: 50%;
      margin-left: -10px;
    }
    .icon-next,
    .chevron-right {
      right: 50%;
      margin-right: -10px;
    }
    .icon-prev,
    .icon-next {
      width: 20px;
      height: 20px;
      margin-top: -10px;
      font-family: serif;
    }

    .icon-prev {
      &::before {
        content: '\2039'; // SINGLE LEFT-POINTING ANGLE QUOTATION MARK (U+2039)
      }
    }
    .icon-next {
      &::before {
        content: '\203a'; // SINGLE RIGHT-POINTING ANGLE QUOTATION MARK (U+203A)
      }
    }
  }

  // Optional indicator pips
  // Add an unordered list with the following class and add a list item for each
  // slide your carousel holds.

  .indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 1px;
      text-indent: -999px;
      border: 1px solid var(--carousel-indicator-border-color);
      border-radius: 10px;
      cursor: pointer;
    }
    .active {
      margin: 0;
      width: 12px;
      height: 12px;
      background-color: var(--carousel-indicator-active-background);
    }
  }

  // Optional captions
  // -----------------------------
  // Hidden by default for smaller viewports
  .caption {
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--carousel-caption-color);
    text-align: center;
    text-shadow: var(--carousel-text-shadow);
    & .btn {
      text-shadow: none; // No shadow for button elements in carousel-caption
    }
  }
}

// Scale up controls for tablets and up
@media screen and (min-width: var(--screen-sm-min)) {
  .carousel {
    // Scale up the controls a smidge
    .control {
      .chevron-left,
      .chevron-right,
      .icon-prev,
      .icon-next {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        font-size: 30px;
      }
      .chevron-left,
      .icon-prev {
        margin-left: -15px;
      }
      .chevron-right,
      .icon-next {
        margin-right: -15px;
      }
    }

    // Show and left align the captions
    .caption {
      left: 20%;
      right: 20%;
      padding-bottom: 30px;
    }

    // Move up the indicators
    .indicators {
      bottom: 20px;
    }
  }
}

.thumb-carousel {
  overflow: hidden;
  position: relative;

  .viewport {
    width: 100%;
    height: 150px;
    position: relative;
    z-index: 98;
  }

  .control {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    z-index: 99;

    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }

  .control i.icon {
    margin: 0;
  }
  .control.disable {
    cursor: not-allowed;

    /* cursor: no-drop; */
  }
  .overview {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 0;
    z-index: 9;

    li {
      float: left;
      padding: 1px;
      border: 1px solid #fff;

      &.active {
        border-color: #666;
        z-index: 99;
      }
      & img {
        opacity: 0.7;
        transition: all 0.15s ease-out 0s;
      }
      &.active img,
      & img:hover {
        opacity: 1;
      }
    }
  }
}
