// Tables
// --------------------------------------------------




table{
  display: table;
  width:  100%;
  max-width:  100%;
  margin-bottom: 15px;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: $table-background;
}

table > thead,
table > tbody,
table > tfoot{
  > tr {
    &.active  > th, th.active , &.active  > td, td.active  { background-color: $table-background-active; }
    &.primary > th, th.primary, &.primary > td, td.primary { background-color: var(--table-row-primary-background); }
    &.success > th, th.success, &.success > td, td.success { background-color: var(--table-row-success-background); }
    &.info    > th, th.info   , &.info    > td, td.info    { background-color: var(--table-row-info-background); }
    &.warning > th, th.warning, &.warning > td, td.warning { background-color: var(--table-row-warning-background); }
    &.danger  > th, th.danger , &.danger  > td, td.danger  { background-color: var(--table-row-danger-background); }
  }
}

table > thead,
table > tbody,
table > tfoot{
  > tr{
    > th, > td{
      border-collapse: collapse;
      padding: $table-cell-padding;
      border: none;
      border-bottom: 1px solid $table-border-color;
    }
  }
}

table > thead > tr > td,
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > td,
table > tfoot > tr > th{
  font-weight: bold;
  text-align: left
}

table{

  // Condensed table
  // -------------------------
  &.condensed{
    > thead,
    > tbody,
    > tfoot{
      > tr{
        > th, > td{
          padding: $table-condensed-cell-padding;
        }
      }
    }
  }

  // Bordered
  // -------------------------
  &.bordered {
    &, > thead, > tbody, > tfoot {
      tr{
        > th, > td{
          border: 1px solid $table-border-color;
        }
      }
    }
  }

  // Striped
  // -------------------------
  &.striped > tbody > tr:nth-child(odd) {
    > th, > td {
      background-color: $table-background-accent;
    }
  }

  // Hover
  // -------------------------
  &.hover > tbody > tr:hover {
    > th, > td {
      background-color: $table-background-hover;
    }
  }

}


// Responsive Table
// --------------------------------------------------
.table.responsive{
  width: 100%;
  overflow: scroll hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  border: 1px solid $table-border-color;

  > table{
    margin-bottom: 0;

    &.bordered{
      border: none;

      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th:first-child, > td:first-child { border-left:  0; }
          > th:last-child,  > td:last-child  { border-right: 0; }
        }
      }

      > thead,
      > tbody {
        > tr:first-child {
          > th, > td { border-top: 0; }
        }
      }
    }

    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th, > td { white-space: nowrap; }
      }
    }

    > *:last-child {
      > tr:last-child {
        > th, > td{ border-bottom: none; }
      }
    }

  }
}
