// Tabs
// --------------------------------------------------

// Tabs component variables
.tabs {
  --tabs-border-color: #ddd;
  --tabs-link-hover-border-color: #eee;
  --tabs-link-hover-background-color: #eee;
  --tabs-active-link-hover-background: #fff;
  --tabs-active-link-hover-color: #666;
  --tabs-active-link-hover-border-color: #ddd;
  --tabs-justified-link-border-color: #ddd;
  --tabs-justified-active-link-border-color: #fff;
}

.tabs {
  list-style: none;
  border-bottom: 1px solid var(--tabs-border-color);
  padding: 0;
  display: flow-root;

  > li {
    display: block;
    position: relative;
    float: left;
    margin-bottom: -1px;

    > a {
      position: relative;
      display: block;
      padding: 10px 15px;
      margin-right: 2px;
      line-height: var(--line-height-base);
      border: 1px solid transparent;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      text-decoration: none;

      &:hover {
        border-color: var(--tabs-link-hover-border-color) var(--tabs-link-hover-border-color)
          var(--tabs-border-color);
        background-color: var(--tabs-link-hover-background-color);
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: var(--tabs-active-link-hover-color);
        background-color: var(--tabs-active-link-hover-background);
        border: 1px solid var(--tabs-active-link-hover-border-color);
        border-bottom-color: transparent;
        cursor: default;
      }
    }
  }

  &.justified {
    width: 100%;
    border-bottom: 0;

    > li {
      display: table-cell;
      width: 1%;
      float: none;
      > a {
        text-align: center;
        margin-right: 0;
        border-bottom: 1px solid var(--tabs-justified-link-border-color);
        border-radius: var(--border-radius) var(--border-radius) 0 0;
      }
    }

    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-bottom-color: var(--tabs-justified-active-link-border-color);
    }
  }
}
