// Timeline
// --------------------------------------------------

@use 'variables' as *;

// Timeline component variables
.timeline {
  --timeline-color-default: #333;
  --timeline-background-default: #999;
  --timeline-small-size: 30px;
  --timeline-small-font-size: 12px;
  --timeline-small-border: 1px;
  --timeline-default-size: 60px;
  --timeline-default-font-size: 14px;
  --timeline-default-border: 2px;
  --timeline-large-size: 120px;
  --timeline-large-font-size: 24px;
  --timeline-large-border: 4px;

  // Timeline variant colors
  --timeline-background-primary: var(--primary);
  --timeline-background-success: var(--success);
  --timeline-background-info: var(--info);
  --timeline-background-warning: var(--warning);
  --timeline-background-danger: var(--danger);
}

@mixin timeline-variant($parent, $color-var) {
  .timeline#{$parent} {
    > ul,
    > ol {
      > li {
        box-shadow: 0 0 0 2px var(#{$color-var}) inset;

        &:hover {
          box-shadow: 0 0 0 30px var(#{$color-var}) inset;
        }

        &.active {
          background-color: var(#{$color-var});
        }
      }
    }
  }
}

@mixin timeline-size($parent, $size-var, $font-size-var, $border-var) {
  .timeline#{$parent} {
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;

    &::before {
      height: var(#{$border-var});
      left: 0;
      z-index: 10;
      top: calc(var(#{$size-var}) / 2);
    }

    > ul,
    > ol {
      > li {
        z-index: 11;
        height: var(#{$size-var});
        width: var(#{$size-var});
        border-radius: 50%;
        box-shadow: 0 0 0 var(#{$border-var}) var(--timeline-background-default) inset;

        &:hover {
          box-shadow: 0 0 0 calc(var(#{$size-var}) / 2) var(--timeline-background-default) inset;
        }

        > .title {
          line-height: var(#{$size-var});
          font-size: var(#{$font-size-var});
        }
      }
    }
  }
}

.timeline {
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;

  &::before {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    z-index: 10;
    top: 30px;
    background-color: #ebebeb;
  }

  > ul,
  > ol {
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: justify;
    line-height: 0;

    &::after {
      display: inline-block;
      content: '';
      height: 0;
      width: 100%;
      overflow: hidden;
      visibility: hidden;
    }

    > li {
      display: inline-block;
      text-align: center;
      position: relative;
      z-index: 11;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      overflow: hidden;
      background-color: #fff;
      box-shadow: 0 0 0 2px var(--timeline-background-default) inset;
      transition: all 0.25s ease;

      &:hover {
        box-shadow: 0 0 0 30px var(--timeline-background-default) inset;
        color: #fff;
      }

      &.active {
        box-shadow: none;
        background-color: var(--timeline-background-default);
        color: #fff;
      }

      &:hover,
      &.active {
        > .title {
          color: #fff;
        }
      }

      > .title {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        line-height: 60px;
        font-size: 14px;
        position: absolute;
        left: 0;
        top: 0;
        text-decoration: none;
        color: #333;
        transition: all 0.25s ease;
      }
    }
  }
}

// Colors
@include timeline-variant('.primary', --timeline-background-primary);
@include timeline-variant('.success', --timeline-background-success);
@include timeline-variant('.info', --timeline-background-info);
@include timeline-variant('.warning', --timeline-background-warning);
@include timeline-variant('.danger', --timeline-background-danger);

// Sizing
@include timeline-size('.small', --timeline-small-size, --timeline-small-font-size, --timeline-small-border);
@include timeline-size('.large', --timeline-large-size, --timeline-large-font-size, --timeline-large-border);
