// Tooltips
// --------------------------------------------------

@use 'mixins' as *;

// Tooltip variants
@mixin tooltip-variant($tooltip-color, $tooltip-background, $tooltip-arrow-color) {
  .inner {
    color: $tooltip-color;
    background-color: $tooltip-background;
  }

  &.top .arrow,
  &.top-left .arrow,
  &.top-right .arrow {
    border-top-color: $tooltip-arrow-color;
  }

  &.right .arrow {
    border-right-color: $tooltip-arrow-color;
  }
  &.left .arrow {
    border-left-color: $tooltip-arrow-color;
  }
  &.bottom .arrow,
  &.bottom-left .arrow,
  &.bottom-right .arrow {
    border-bottom-color: $tooltip-arrow-color;
  }
}

// Base class
.tooltip {
  position: absolute;
  z-index: var(--zindex-tooltip);
  display: block;
  visibility: visible;
  font-size: var(--font-size-small);
  line-height: 1.4;
  opacity: 0;

  &.in {
    opacity: var(--tooltip-opacity);
  }
  &.top {
    margin-top: -3px;
    padding: var(--tooltip-arrow-width) 0;
  }
  &.right {
    margin-left: 3px;
    padding: 0 var(--tooltip-arrow-width);
  }
  &.bottom {
    margin-top: 3px;
    padding: var(--tooltip-arrow-width) 0;
  }
  &.left {
    margin-left: -3px;
    padding: 0 var(--tooltip-arrow-width);
  }

  // Wrapper for the tooltip content
  .inner {
    max-width: var(--tooltip-max-width);
    padding: 3px 8px;
    color: var(--tooltip-color);
    text-align: center;
    text-decoration: none;
    background-color: var(--tooltip-background);
    border-radius: var(--border-radius);
  }

  // Arrows
  .arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }

  &.top .arrow {
    bottom: 0;
    left: 50%;
    margin-left: calc(var(--tooltip-arrow-width) * -1);
    border-width: var(--tooltip-arrow-width) var(--tooltip-arrow-width) 0;
  }
  &.top-left .arrow {
    bottom: 0;
    left: var(--tooltip-arrow-width);
    border-width: var(--tooltip-arrow-width) var(--tooltip-arrow-width) 0;
  }
  &.top-right .arrow {
    bottom: 0;
    right: var(--tooltip-arrow-width);
    border-width: var(--tooltip-arrow-width) var(--tooltip-arrow-width) 0;
  }
  &.right .arrow {
    top: 50%;
    left: 0;
    margin-top: calc(var(--tooltip-arrow-width) * -1);
    border-width: var(--tooltip-arrow-width) var(--tooltip-arrow-width) var(--tooltip-arrow-width) 0;
  }
  &.left .arrow {
    top: 50%;
    right: 0;
    margin-top: calc(var(--tooltip-arrow-width) * -1);
    border-width: var(--tooltip-arrow-width) 0 var(--tooltip-arrow-width) var(--tooltip-arrow-width);
  }
  &.bottom .arrow {
    top: 0;
    left: 50%;
    margin-left: calc(var(--tooltip-arrow-width) * -1);
    border-width: 0 var(--tooltip-arrow-width) var(--tooltip-arrow-width);
  }
  &.bottom-left .arrow {
    top: 0;
    left: var(--tooltip-arrow-width);
    border-width: 0 var(--tooltip-arrow-width) var(--tooltip-arrow-width);
  }
  &.bottom-right .arrow {
    top: 0;
    right: var(--tooltip-arrow-width);
    border-width: 0 var(--tooltip-arrow-width) var(--tooltip-arrow-width);
  }

  // Colors
  // Contextual variations
  & {
    @include tooltip-variant(var(--tooltip-color), var(--tooltip-background), var(--tooltip-arrow-color));
  }
  &.primary {
    @include tooltip-variant(
      var(--tooltip-primary-color),
      var(--tooltip-primary-background),
      var(--tooltip-primary-arrow-color)
    );
  }
  &.success {
    @include tooltip-variant(
      var(--tooltip-success-color),
      var(--tooltip-success-background),
      var(--tooltip-success-arrow-color)
    );
  }
  &.info {
    @include tooltip-variant(
      var(--tooltip-info-color),
      var(--tooltip-info-background),
      var(--tooltip-info-arrow-color)
    );
  }
  &.warning {
    @include tooltip-variant(
      var(--tooltip-warning-color),
      var(--tooltip-warning-background),
      var(--tooltip-warning-arrow-color)
    );
  }
  &.danger {
    @include tooltip-variant(
      var(--tooltip-danger-color),
      var(--tooltip-danger-background),
      var(--tooltip-danger-arrow-color)
    );
  }
}
