// Typography
// --------------------------------------------------

@use 'mixins' as *;

// Headings
// -------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
  color: var(--heading-color);
  margin-top: calc(var(--line-height-computed) / 2);
  margin-bottom: calc(var(--line-height-computed) / 2);

  small {
    font-weight: normal;
    line-height: 1;
    color: var(--gray-light);
  }

  &.title {
    padding-bottom: calc(var(--line-height-computed) / 2);
    border-bottom: 1px solid var(--gray-lighter);
    margin: calc(var(--line-height-computed) * 2) 0 var(--line-height-computed);
  }
}

h1,
h2,
h3 {
  small {
    font-size: 65%;
  }
}
h4,
h5,
h6 {
  small {
    font-size: 75%;
  }
}

h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
h4 {
  font-size: var(--font-size-h4);
}
h5 {
  font-size: var(--font-size-h5);
}
h6 {
  font-size: var(--font-size-h6);
}

// Body text
// -------------------------

p {
  margin: 0 0 calc(var(--line-height-computed) / 2);
}

.lead {
  margin-bottom: var(--line-height-computed);
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}

// Emphasis & misc
// -------------------------

// Ex: 14px base font * 85% = about 12px
small,
.small {
  font-size: 85%;
}

// Undo browser default styling
cite {
  font-style: normal;
}

mark,
.mark {
  background-color: var(--state-warning-background);
  padding: 0.2em;
}

// Alignment
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}

// Contextual colors
.text.muted {
  color: var(--gray-light);
}

@include text-emphasis-variant('.text.primary', var(--state-primary-text));
@include text-emphasis-variant('.text.success', var(--state-success-text));
@include text-emphasis-variant('.text.info', var(--state-info-text));
@include text-emphasis-variant('.text.warning', var(--state-warning-text));
@include text-emphasis-variant('.text.danger', var(--state-danger-text));

// Contextual backgrounds
.bg-primary {
  color: #fff;
}

@include background-variant('.bg-primary', var(--state-primary-background));
@include background-variant('.bg-success', var(--state-success-background));
@include background-variant('.bg-info', var(--state-info-background));
@include background-variant('.bg-warning', var(--state-warning-background));
@include background-variant('.bg-danger', var(--state-danger-background));

// Misc
// -------------------------

// Abbreviations and acronyms
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted var(--gray-light);
}

.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Addresses
address {
  margin-bottom: var(--line-height-computed);
  font-style: normal;
  line-height: var(--line-height-base);
}
