// Utility classes
// --------------------------------------------------

// Floats
// -------------------------

// Floated
.clearfix {
  display: flow-root;
}

.centered {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.lefted {
  float: left !important;
}
.righted {
  float: right !important;
}

// Toggling content
// -------------------------

.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}

.text-hide {
  // TODO: Implement text-hide
}

// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}

.suggestion {
  color: #ccc;
}
