---
title: Grid
---

<div class="container">

  <div class="grid twelve">

    <div class="column three">

      <%= partial "shared/sidebar" %>

    </div>

    <div class="column nine grid-doc">

      <h1 class="title">Responsive Grid System</h1>

      <h2 id="two-columns">Two Columns</h2>

      <div class="grid two">
        <div class="column">half</div>
        <div class="column">half</div>
      </div>

      <div class="grid two">
        <div class="column righted">the right half</div>
      </div>

      <div class="section group example">
        <h2 id="three-columns">Three Columns</h2>
      </div>


      <div class="grid three">
        <% 3.times do %>
        <div class="column">one third</div>
        <% end -%>
      </div>

      <div class="grid three">
        <div class="column two">two-thirds</div>
        <div class="column">one third</div>
      </div>

      <div class="grid three">
        <div class="column centered">the middle one-third</div>
      </div>


      <h2 id="four-columns">Four Columns</h2>

      <div class="grid four">
        <% 4.times do %>
        <div class="column">quarter</div>
        <% end -%>
      </div>


      <h2 id="five-columns">Five Columns</h2>

      <div class="grid five">
        <% 5.times do %>
        <div class="column">fifth</div>
        <% end -%>
      </div>


      <h2 id="six-columns">Six Columns</h2>

      <div class="grid six">
        <% 6.times do %>
        <div class="column">sixth</div>
        <% end -%>
      </div>


      <h2 id="seven-columns">Seven Columns</h2>

      <div class="grid seven">
        <% 7.times do %>
        <div class="column">seventh</div>
        <% end -%>
      </div>


      <h2 id="eight-columns">Eight Columns</h2>

      <div class="grid eight">
        <% 8.times do %>
        <div class="column">eighth</div>
        <% end -%>
      </div>


      <h2 id="nine-columns">Nine Columns</h2>

      <div class="grid nine">
        <% 9.times do %>
        <div class="column">ninth</div>
        <% end -%>
      </div>


      <h2 id="ten-columns">Ten Columns</h2>

      <div class="grid ten">
        <% 10.times do %>
        <div class="column">tenth</div>
        <% end -%>
      </div>


      <h2 id="eleven-columns">Eleven Columns</h2>

      <div class="grid eleven">
        <% 11.times do %>
        <div class="column">eleventh</div>
        <% end %>
      </div>


      <h2 id="twelve-columns">Twelve Columns</h2>

      <div class="grid twelve">
        <% 12.times do %>
        <div class="column">twelfth</div>
        <% end %>
      </div>

      <div class="grid twelve">
        <div class="column eleven">eleven twelfths</div>
        <div class="column">twelve</div>
      </div>

      <div class="grid twelve">
        <div class="column three">three twelfths</div>
        <div class="column nine">nine twelfths</div>
      </div>

      <div class="grid twelve">
        <div class="column nine">nine twelfths</div>
      </div>

      <div class="grid twelve">
        <div class="column nine centered">nine twelfths</div>
      </div>

      <div class="grid twelve">
        <div class="column nine righted">nine twelfths</div>
      </div>

    </div>

  </div>
</div>
