---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Grid" bodyClass="docs_grid grids_index" activeSection="docs" currentPage="/docs/grid">
  <div class="column nine grid-doc">
    <h1 class="title">Responsive Grid System</h1>

    <h2 id="two-columns">Two Columns</h2>

    <div class="grid two">
      <div class="column">half</div>
      <div class="column">half</div>
    </div>

    <div class="grid two">
      <div class="column righted">the right half</div>
    </div>

    <div class="section group example">
      <h2 id="three-columns">Three Columns</h2>
    </div>

    <div class="grid three">
      <div class="column">one third</div>
      <div class="column">one third</div>
      <div class="column">one third</div>
    </div>

    <div class="grid three">
      <div class="column two">two-thirds</div>
      <div class="column">one third</div>
    </div>

    <div class="grid three">
      <div class="column centered">the middle one-third</div>
    </div>

    <h2 id="four-columns">Four Columns</h2>

    <div class="grid four">
      <div class="column">quarter</div>
      <div class="column">quarter</div>
      <div class="column">quarter</div>
      <div class="column">quarter</div>
    </div>

    <h2 id="five-columns">Five Columns</h2>

    <div class="grid five">
      <div class="column">fifth</div>
      <div class="column">fifth</div>
      <div class="column">fifth</div>
      <div class="column">fifth</div>
      <div class="column">fifth</div>
    </div>

    <h2 id="six-columns">Six Columns</h2>

    <div class="grid six">
      <div class="column">sixth</div>
      <div class="column">sixth</div>
      <div class="column">sixth</div>
      <div class="column">sixth</div>
      <div class="column">sixth</div>
      <div class="column">sixth</div>
    </div>

    <h2 id="seven-columns">Seven Columns</h2>

    <div class="grid seven">
      <div class="column">seventh</div>
      <div class="column">seventh</div>
      <div class="column">seventh</div>
      <div class="column">seventh</div>
      <div class="column">seventh</div>
      <div class="column">seventh</div>
      <div class="column">seventh</div>
    </div>

    <h2 id="eight-columns">Eight Columns</h2>

    <div class="grid eight">
      <div class="column">eighth</div>
      <div class="column">eighth</div>
      <div class="column">eighth</div>
      <div class="column">eighth</div>
      <div class="column">eighth</div>
      <div class="column">eighth</div>
      <div class="column">eighth</div>
      <div class="column">eighth</div>
    </div>

    <h2 id="nine-columns">Nine Columns</h2>

    <div class="grid nine">
      <div class="column">ninth</div>
      <div class="column">ninth</div>
      <div class="column">ninth</div>
      <div class="column">ninth</div>
      <div class="column">ninth</div>
      <div class="column">ninth</div>
      <div class="column">ninth</div>
      <div class="column">ninth</div>
      <div class="column">ninth</div>
    </div>

    <h2 id="ten-columns">Ten Columns</h2>

    <div class="grid ten">
      <div class="column">tenth</div>
      <div class="column">tenth</div>
      <div class="column">tenth</div>
      <div class="column">tenth</div>
      <div class="column">tenth</div>
      <div class="column">tenth</div>
      <div class="column">tenth</div>
      <div class="column">tenth</div>
      <div class="column">tenth</div>
      <div class="column">tenth</div>
    </div>

    <h2 id="eleven-columns">Eleven Columns</h2>

    <div class="grid eleven">
      <div class="column">eleventh</div>
      <div class="column">eleventh</div>
      <div class="column">eleventh</div>
      <div class="column">eleventh</div>
      <div class="column">eleventh</div>
      <div class="column">eleventh</div>
      <div class="column">eleventh</div>
      <div class="column">eleventh</div>
      <div class="column">eleventh</div>
      <div class="column">eleventh</div>
      <div class="column">eleventh</div>
    </div>

    <h2 id="twelve-columns">Twelve Columns</h2>

    <div class="grid twelve">
      <div class="column">twelfth</div>
      <div class="column">twelfth</div>
      <div class="column">twelfth</div>
      <div class="column">twelfth</div>
      <div class="column">twelfth</div>
      <div class="column">twelfth</div>
      <div class="column">twelfth</div>
      <div class="column">twelfth</div>
      <div class="column">twelfth</div>
      <div class="column">twelfth</div>
      <div class="column">twelfth</div>
      <div class="column">twelfth</div>
    </div>

    <div class="grid twelve">
      <div class="column eleven">eleven twelfths</div>
      <div class="column">twelve</div>
    </div>

    <div class="grid twelve">
      <div class="column three">three twelfths</div>
      <div class="column nine">nine twelfths</div>
    </div>

    <div class="grid twelve">
      <div class="column nine">nine twelfths</div>
    </div>

    <div class="grid twelve">
      <div class="column nine centered">nine twelfths</div>
    </div>

    <div class="grid twelve">
      <div class="column nine righted">nine twelfths</div>
    </div>
  </div>
</Layout>
