.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

.highlight .cm {
  color: #999988;
  font-style: italic;
}

.highlight .cp {
  color: #999999;
  font-weight: bold;
}

.highlight .c1 {
  color: #999988;
  font-style: italic;
}

.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

.highlight .c,
.highlight .cd {
  color: #999988;
  font-style: italic;
}

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

.highlight .ge {
  color: #000000;
  font-style: italic;
}

.highlight .gr {
  color: #aa0000;
}

.highlight .gh {
  color: #999999;
}

.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

.highlight .go {
  color: #888888;
}

.highlight .gp {
  color: #555555;
}

.highlight .gs {
  font-weight: bold;
}

.highlight .gu {
  color: #aaaaaa;
}

.highlight .gt {
  color: #aa0000;
}

.highlight .kc {
  color: #000000;
  font-weight: bold;
}

.highlight .kd {
  color: #000000;
  font-weight: bold;
}

.highlight .kn {
  color: #000000;
  font-weight: bold;
}

.highlight .kp {
  color: #000000;
  font-weight: bold;
}

.highlight .kr {
  color: #000000;
  font-weight: bold;
}

.highlight .kt {
  color: #445588;
  font-weight: bold;
}

.highlight .k,
.highlight .kv {
  color: #000000;
  font-weight: bold;
}

.highlight .mf {
  color: #009999;
}

.highlight .mh {
  color: #009999;
}

.highlight .il {
  color: #009999;
}

.highlight .mi {
  color: #009999;
}

.highlight .mo {
  color: #009999;
}

.highlight .m,
.highlight .mb,
.highlight .mx {
  color: #009999;
}

.highlight .sb {
  color: #d14;
}

.highlight .sc {
  color: #d14;
}

.highlight .sd {
  color: #d14;
}

.highlight .s2 {
  color: #d14;
}

.highlight .se {
  color: #d14;
}

.highlight .sh {
  color: #d14;
}

.highlight .si {
  color: #d14;
}

.highlight .sx {
  color: #d14;
}

.highlight .sr {
  color: #009926;
}

.highlight .s1 {
  color: #d14;
}

.highlight .ss {
  color: #990073;
}

.highlight .s {
  color: #d14;
}

.highlight .na {
  color: #008080;
}

.highlight .bp {
  color: #999999;
}

.highlight .nb {
  color: #0086B3;
}

.highlight .nc {
  color: #445588;
  font-weight: bold;
}

.highlight .no {
  color: #008080;
}

.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}

.highlight .ni {
  color: #800080;
}

.highlight .ne {
  color: #990000;
  font-weight: bold;
}

.highlight .nf {
  color: #990000;
  font-weight: bold;
}

.highlight .nl {
  color: #990000;
  font-weight: bold;
}

.highlight .nn {
  color: #555555;
}

.highlight .nt {
  color: #000080;
}

.highlight .vc {
  color: #008080;
}

.highlight .vg {
  color: #008080;
}

.highlight .vi {
  color: #008080;
}

.highlight .nv {
  color: #008080;
}

.highlight .ow {
  color: #000000;
  font-weight: bold;
}

.highlight .o {
  color: #000000;
  font-weight: bold;
}

.highlight .w {
  color: #bbbbbb;
}

.highlight {
  background-color: #f8f8f8;
}

h2 {
  margin-top: 20px;
}

section.example {
  margin-top: 15px;
  padding: 35px 10px 10px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
  position: relative;
}
section.example:after {
  content: "Example";
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #bbb;
  text-transform: uppercase;
  letter-spacing: 1px;
}
section.example table,
section.example .alert:last-child {
  margin-bottom: 0;
}
section.example table tr:last-child td {
  border-bottom: none;
}
section.example .bg-primary,
section.example .bg-success,
section.example .bg-info,
section.example .bg-warning,
section.example .bg-danger {
  padding: 10px;
}
section.example .breadcrumb:last-child {
  margin-bottom: 5px;
}
section.example .well:last-child {
  margin-bottom: 10px;
}
section.example.has-modal {
  background-color: #f5f5f5;
}
section.example .modal {
  display: block;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
}
section.example .modal .dialog {
  left: auto;
  margin-right: auto;
  margin-left: auto;
}

pre.highlight {
  padding: 15px;
  margin-top: -1px;
  overflow-x: auto;
  font-size: 13px;
  color: #777;
  word-wrap: normal;
  white-space: pre;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.grid-doc .column {
  padding: 10px;
  background-color: #eee;
  border: 1px solid #ddd;
}

body.mobile .navbar {
  position: relative;
  z-index: 99;
}
body.mobile article.component {
  opacity: 0.3;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
body.mobile article.component.active {
  opacity: 1;
}
body.mobile .device {
  position: fixed;
  top: -45px;
  z-index: 9;
  width: 395px;
  height: 815px;
  background-image: url(/images/iphone.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  -webkit-transition: background-image 0.1s linear;
  -moz-transition: background-image 0.1s linear;
  transition: background-image 0.1s linear;
}
body.mobile #window {
  position: absolute;
  top: 119px;
  left: 36px;
  width: 325px;
  height: 575px;
  overflow: hidden;
  background-color: #fff;
  border: none;
}
