h2 {
  margin-top: 20px;
}

section.example {
  margin-top: 15px;
  padding: 35px 10px 10px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
  position: relative;

  &:after {
    content: 'Example';
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  table,
  .alert:last-child {
    margin-bottom: 0;
  }

  table {
    tr:last-child td {
      border-bottom: none;
    }
  }

  .bg-primary,
  .bg-success,
  .bg-info,
  .bg-warning,
  .bg-danger {
    padding: 10px;
  }

  .breadcrumb:last-child {
    margin-bottom: 5px;
  }
  .well:last-child {
    margin-bottom: 10px;
  }
}

.hljs {
  background: transparent !important;
}

pre.highlight {
  padding: 15px;
  margin-top: -1px;
  overflow-x: auto;
  font-size: 13px;
  color: #777;
  word-wrap: normal;
  white-space: pre;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.grid-doc .column {
  padding: 10px;
  background-color: #eee;
  border: 1px solid #ddd;
}

body.mobile {
  .navbar {
    position: relative;
    z-index: 99;
  }

  article.component {
    opacity: 0.3;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;

    &.active {
      opacity: 1;
    }
  }

  .device {
    position: fixed;
    top: -45px;
    z-index: 9;
    width: 395px;
    height: 815px;
    background-image: url(/images/iphone.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
    -webkit-transition: background-image 0.1s linear;
    -moz-transition: background-image 0.1s linear;
    transition: background-image 0.1s linear;
  }

  #window {
    position: absolute;
    top: 119px;
    left: 36px;
    width: 325px;
    height: 575px;
    overflow: hidden;
    background-color: #fff;
    border: none;
  }
}
