/* Error: Undefined mixin.
 *    ,
 * 58 |   @include gradient-striped();
 *    |   ^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss/_progress.scss 58:3  @use
 *   scss/mice.scss 38:1       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 58 \2502    @include gradient-striped();\a    \2502    ^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss/_progress.scss 58:3  @use\a   scss/mice.scss 38:1       root stylesheet";
}
