---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Images" bodyClass="elements elements_images" activeSection="elements" currentPage="/elements/images">
  <h1 class="title">Images</h1>

  <h2>Responsive images</h2>
  <section class="example">
    <img class="responsive" src="/images/defoliation.jpeg" alt="Defoliation" />
    <div>
      Photographer: <a target="_blank" href="http://miclle.com/photo/41"><small>@chummy</small></a>
    </div>
  </section>
  <pre><code class="highlight html">&lt;img class="responsive" alt="Defoliation" src="/images/defoliation.jpeg" /&gt;</code></pre>

  <h2>Image shapes</h2>
  <section class="example">
    <img class="rounded" alt="Rounded" src="/images/b2df5944204470358e5e8ea086a16a2b8e1c.jpeg" />
    <img class="circle" alt="Circle" src="/images/f78d490e23e56501adda00c7876037aef422.jpeg" />
    <img class="thumbnail" alt="Thumbnail" src="/images/3a4b2132cdefc03527223d707a6a5ce6bffc.jpeg" />
    <div>
      Photographer:
      <a target="_blank" href="http://miclle.com/photo/34"><small>@lxneng</small></a>
      <a target="_blank" href="http://miclle.com/photo/28"><small>@kaka</small></a>
      <a target="_blank" href="http://miclle.com/photo/1"><small>@miclle</small></a>
    </div>
  </section>
  <pre><code class="highlight html">&lt;img class="rounded" alt="Rounded" src="/images/b2df5944204470358e5e8ea086a16a2b8e1c.jpeg" /&gt;
&lt;img class="circle" alt="Circle" src="/images/f78d490e23e56501adda00c7876037aef422.jpeg" /&gt;
&lt;img class="thumbnail" alt="Thumbnail" src="/images/3a4b2132cdefc03527223d707a6a5ce6bffc.jpeg" /&gt;</code></pre>

  <h2>Fluid images</h2>
  <section class="example">
    <img class="fluid" src="/images/b62a0a54fbed94d91e3d66328b783a811b47.jpeg" alt="Defoliation" />
    <div>
      Photographer: <a target="_blank" href="http://miclle.com/photo/41"><small>@chummy</small></a>
    </div>
  </section>
  <pre><code class="highlight html">&lt;img class="fluid" alt="Defoliation" src="/images/b62a0a54fbed94d91e3d66328b783a811b47.jpeg" /&gt;</code></pre>

  <h2>Disabled images</h2>
  <section class="example">
    <img class="disabled responsive" src="/images/b62a0a54fbed94d91e3d66328b783a811b47.jpeg" alt="Defoliation" />
    <div>
      Photographer: <a target="_blank" href="http://miclle.com/photo/41"><small>@chummy</small></a>
    </div>
  </section>
  <pre><code class="highlight html">&lt;img class="disabled responsive" alt="Defoliation" src="/images/b62a0a54fbed94d91e3d66328b783a811b47.jpeg" /&gt;</code></pre>

  <h2>Thumbnail Captions</h2>
  <section class="example">
    <div class="thumbnail">
      <img src="/images/b2df5944204470358e5e8ea086a16a2b8e1c.jpeg" alt="" />
      <div class="caption">Simple Caption</div>
    </div>
  </section>
  <pre><code class="highlight html">&lt;div class="thumbnail"&gt;
  &lt;img src="/images/b2df5944204470358e5e8ea086a16a2b8e1c.jpeg" /&gt;
  &lt;div class="caption"&gt;Simple Caption&lt;/div&gt;
&lt;/div&gt;</code></pre>

  <h3>Animation effect</h3>
  <p>Say good bye to jQuery plugins. Today, we can create similar image caption effect only with CSS3. This demo shows how this effects runs.</p>
  <section class="example">
    <div class="thumbnail simple">
      <img src="/images/b2df5944204470358e5e8ea086a16a2b8e1c.jpeg" alt="" />
      <div class="caption">Simple Caption</div>
    </div>

    <div class="thumbnail full">
      <img src="/images/f78d490e23e56501adda00c7876037aef422.jpeg" alt="" />
      <div class="caption">
        <h3>Full Caption</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      </div>
    </div>

    <div class="thumbnail fade">
      <img src="/images/3a4b2132cdefc03527223d707a6a5ce6bffc.jpeg" alt="" />
      <div class="caption">
        <h3>Fade Caption</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      </div>
    </div>

    <div class="thumbnail slide">
      <img src="/images/2gyvxv7un50t1ugzlekekp7femlfyjw9jsyt.jpeg" alt="" />
      <div class="caption">
        <h3>Slide Caption</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      </div>
    </div>

    <div class="thumbnail rotate">
      <img src="/images/57vtufdyzphay5b72oqkx1v1jaf9c0ij3m5t.jpeg" alt="" />
      <div class="caption">
        <h3>This is rotate caption</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      </div>
    </div>

    <div class="thumbnail scale">
      <img src="/images/e3d0b7199492261ba8991f3d9cd7b30f5f3c.jpeg" alt="" />
      <div class="caption">
        <h3>Scale Caption</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      </div>
    </div>
  </section>
  <pre><code class="highlight html">&lt;div class="thumbnail simple"&gt;
  &lt;img src="xxx.jpg" /&gt;
  &lt;div class="caption"&gt;Simple Caption&lt;/div&gt;
&lt;/div&gt;

&lt;div class="thumbnail full"&gt;
  &lt;img src="xxx.jpg" /&gt;
  &lt;div class="caption"&gt;...&lt;/div&gt;
&lt;/div&gt;

&lt;div class="thumbnail fade"&gt;
  &lt;img src="xxx.jpg" /&gt;
  &lt;div class="caption"&gt;...&lt;/div&gt;
&lt;/div&gt;

&lt;div class="thumbnail slide"&gt;
  &lt;img src="xxx.jpg" /&gt;
  &lt;div class="caption"&gt;...&lt;/div&gt;
&lt;/div&gt;

&lt;div class="thumbnail rotate"&gt;
  &lt;img src="xxx.jpg" /&gt;
  &lt;div class="caption"&gt;...&lt;/div&gt;
&lt;/div&gt;

&lt;div class="thumbnail scale"&gt;
  &lt;img src="xxx.jpg" /&gt;
  &lt;div class="caption"&gt;...&lt;/div&gt;
&lt;/div&gt;</code></pre>
</Layout>
