---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Typography" bodyClass="elements elements_typography" activeSection="elements" currentPage="/elements/typography">
  <h1 class="title">Typography</h1>

  <h2>Headings</h2>
  <p>All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>, are available.</p>
  <section class="example">
    <table>
      <tbody>
        <tr>
          <td>
            <h1>h1. Heading <small>Secondary text</small></h1>
          </td>
        </tr>
        <tr>
          <td>
            <h2>h2. Heading <small>Secondary text</small></h2>
          </td>
        </tr>
        <tr>
          <td>
            <h3>h3. Heading <small>Secondary text</small></h3>
          </td>
        </tr>
        <tr>
          <td>
            <h4>h4. Heading <small>Secondary text</small></h4>
          </td>
        </tr>
        <tr>
          <td>
            <h5>h5. Heading <small>Secondary text</small></h5>
          </td>
        </tr>
        <tr>
          <td>
            <h6>h6. Heading <small>Secondary text</small></h6>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <pre><code class="highlight html">&lt;h1&gt;h1. Heading &lt;small&gt;Secondary text&lt;/small&gt;&lt;/h1&gt;
&lt;h2&gt;h2. Heading &lt;small&gt;Secondary text&lt;/small&gt;&lt;/h2&gt;
&lt;h3&gt;h3. Heading &lt;small&gt;Secondary text&lt;/small&gt;&lt;/h3&gt;
&lt;h4&gt;h4. Heading &lt;small&gt;Secondary text&lt;/small&gt;&lt;/h4&gt;
&lt;h5&gt;h5. Heading &lt;small&gt;Secondary text&lt;/small&gt;&lt;/h5&gt;
&lt;h6&gt;h6. Heading &lt;small&gt;Secondary text&lt;/small&gt;&lt;/h6&gt;</code></pre>

  <h2>Body copy</h2>
  <section class="example">
    <p>This is some text in a paragraph. The <code>&lt;p&gt;</code> tag is supported in all major browsers.</p>
  </section>
  <pre><code class="highlight html">&lt;p&gt;This is some text in a paragraph. The &lt;code&gt;&amp;lt;p&amp;gt;&lt;/code&gt; tag is supported in all major browsers.&lt;/p&gt;</code></pre>

  <h3>Lead body copy</h3>
  <p>Make a paragraph stand out by adding <code>.lead</code>.</p>
  <section class="example">
    <p>The first night, then, I went to sleep on the sand, a thousand miles from any human habitation. I was more isolated than a shipwrecked sailor on a raft in the middle of the ocean. Thus you can imagine my amazement, at sunrise, when I was awakened by an odd little voice. It said:</p>
    <p class="lead">"If you please-- draw me a sheep!"<br />"What!"<br />"Draw me a sheep!"</p>
    <p>I jumped to my feet, completely thunderstruck. I blinked my eyes hard. I looked carefully all around me. And I saw a most extraordinary small person, who stood there examining me with great seriousness. Here you may see the best potrait that, later, I was able to make of him. But my drawing is certainly very much less charming than its model.</p>
  </section>
  <pre><code class="highlight html">&lt;p class="lead"&gt;...&lt;/p&gt;</code></pre>

  <h2 id="type-emphasis">Emphasis</h2>
  <p>Make use of HTML's default emphasis tags with lightweight styles.</p>

  <h3>Small text</h3>
  <p>For de-emphasizing inline or blocks of text, use the <code>&lt;small&gt;</code> tag to set text at 85% the size of the parent. Heading elements receive their own <code>font-size</code> for nested <code>&lt;small&gt;</code> elements.</p>
  <p>You may alternatively use an inline element with <code>.small</code> in place of any <code>&lt;small&gt;</code>.</p>
  <section class="example">
    <small>This line of text is meant to be treated as fine print.</small>
  </section>
  <pre><code class="highlight html">&lt;small&gt;This line of text is meant to be treated as fine print.&lt;/small&gt;</code></pre>

  <h3>Bold</h3>
  <p>For emphasizing a snippet of text with a heavier font-weight.</p>
  <section class="example">
    <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
    <p>The following snippet of text is <b>rendered as bold text</b>.</p>
  </section>
  <pre><code class="highlight html">&lt;strong&gt;rendered as bold text&lt;/strong&gt;
&lt;b&gt;rendered as bold text&lt;/b&gt;</code></pre>

  <h3>Italics</h3>
  <p>For emphasizing a snippet of text with italics.</p>
  <section class="example">
    <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
    <p>The following snippet of text is <i>rendered as italicized text</i>.</p>
  </section>
  <pre><code class="highlight html">&lt;em&gt;rendered as italicized text&lt;/em&gt;
&lt;i&gt;rendered as italicized text&lt;/i&gt;</code></pre>

  <h3>Alignment classes</h3>
  <p>Easily realign text to components with text alignment classes.</p>
  <section class="example">
    <p class="text left">Left aligned text.</p>
    <p class="text center">Center aligned text.</p>
    <p class="text right">Right aligned text.</p>
    <p class="text justify">Justified text.</p>
  </section>
  <pre><code class="highlight html">&lt;p class="text left"&gt;Left aligned text.&lt;/p&gt;
&lt;p class="text center"&gt;Center aligned text.&lt;/p&gt;
&lt;p class="text right"&gt;Right aligned text.&lt;/p&gt;
&lt;p class="text justify"&gt;Justified text.&lt;/p&gt;</code></pre>

  <h2 id="type-abbreviations">Abbreviations</h2>
  <p>Stylized implementation of HTML's <code>&lt;abbr&gt;</code> element for abbreviations and acronyms to show the expanded version on hover. Abbreviations with a <code>title</code> attribute have a light dotted bottom border and a help cursor on hover, providing additional context on hover.</p>

  <h3>Basic abbreviation</h3>
  <p>For expanded text on long hover of an abbreviation, include the <code>title</code> attribute with the <code>&lt;abbr&gt;</code> element.</p>
  <section class="example">
    <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
  </section>
  <pre><code class="highlight html">&lt;abbr title="attribute"&gt;attr&lt;/abbr&gt;</code></pre>

  <h3>Initialism</h3>
  <p>Add <code>.initialism</code> to an abbreviation for a slightly smaller font-size.</p>
  <section class="example">
    <p><abbr title="HyperText Markup Language" class="initialism">HTML</abbr> is the best thing since sliced bread.</p>
  </section>
  <pre><code class="highlight html">&lt;abbr title="HyperText Markup Language" class="initialism"&gt;HTML&lt;/abbr&gt;</code></pre>

  <h2 id="type-addresses">Addresses</h2>
  <p>Present contact information for the nearest ancestor or the entire body of work. Preserve formatting by ending all lines with <code>&lt;br&gt;</code>.</p>
  <section class="example">
    <address>
      <strong>Twitter, Inc.</strong><br />
      795 Folsom Ave, Suite 600<br />
      San Francisco, CA 94107<br />
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
    <address>
      <strong>Full Name</strong><br />
      <a href="mailto:#">first.last@example.com</a>
    </address>
  </section>
  <pre><code class="highlight html">&lt;address&gt;
  &lt;strong&gt;Twitter, Inc.&lt;/strong&gt;&lt;br&gt;
  795 Folsom Ave, Suite 600&lt;br&gt;
  San Francisco, CA 94107&lt;br&gt;
  &lt;abbr title="Phone"&gt;P:&lt;/abbr&gt; (123) 456-7890
&lt;/address&gt;</code></pre>

  <h2 id="type-blockquotes">Blockquotes</h2>
  <p>For quoting blocks of content from another source within your document.</p>

  <h3>Default blockquote</h3>
  <p>Wrap <code>&lt;blockquote&gt;</code> around any <abbr title="HyperText Markup Language">HTML</abbr> as the quote. For straight quotes, we recommend a <code>&lt;p&gt;</code>.</p>
  <section class="example">
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </blockquote>
  </section>
  <pre><code class="highlight html">&lt;blockquote&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p&gt;
&lt;/blockquote&gt;</code></pre>

  <h3>Blockquote options</h3>
  <p>Style and content changes for simple variations on a standard <code>&lt;blockquote&gt;</code>.</p>

  <h4>Naming a source</h4>
  <p>Add a <code>&lt;footer&gt;</code> for identifying the source. Wrap the name of the source work in <code>&lt;cite&gt;</code>.</p>
  <section class="example">
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </section>
  <pre><code class="highlight html">&lt;blockquote&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p&gt;
  &lt;footer&gt;Someone famous in &lt;cite title="Source Title"&gt;Source Title&lt;/cite&gt;&lt;/footer&gt;
&lt;/blockquote&gt;</code></pre>

  <h4>Alternate displays</h4>
  <p>Add <code>.reverse</code> for a blockquote with right-aligned content.</p>
  <section class="example">
    <blockquote class="reverse">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </section>
  <pre><code class="highlight html">&lt;blockquote class="reverse"&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p&gt;
  &lt;footer&gt;Someone famous in &lt;cite title="Source Title"&gt;Source Title&lt;/cite&gt;&lt;/footer&gt;
&lt;/blockquote&gt;</code></pre>

  <h3>Blockquote styles</h3>
  <p>Wrap <code>&lt;blockquote&gt;</code> around any <abbr title="HyperText Markup Language">HTML</abbr> as the quote. For straight quotes, we recommend a <code>&lt;p&gt;</code>.</p>
  <section class="example">
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </blockquote>

    <blockquote class="primary">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </blockquote>
    <blockquote class="success">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </blockquote>
    <blockquote class="info">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </blockquote>
    <blockquote class="warning">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </blockquote>
    <blockquote class="danger">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </blockquote>
  </section>
  <pre><code class="highlight html">&lt;blockquote&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p&gt;
&lt;/blockquote&gt;

&lt;blockquote class="primary"&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p&gt;
&lt;/blockquote&gt;

&lt;blockquote class="success"&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p&gt;
&lt;/blockquote&gt;

&lt;blockquote class="info"&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p&gt;
&lt;/blockquote&gt;

&lt;blockquote class="warning"&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p&gt;
&lt;/blockquote&gt;

&lt;blockquote class="danger"&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p&gt;
&lt;/blockquote&gt;</code></pre>
</Layout>
