---
title: Callouts
---

<div class="container">
  <div class="grid twelve">

    <div class="column three">
      <%= partial "shared/sidebar" %>
    </div>

    <div class="column nine doc">

      <h1 class="title">Callouts</h1>

      <h2>Default</h2>
      <section class="example">
        <div class="callout">
          <p>The first night, then, I went to sleep on the sand, a thousand miles from any human habitation. I was more isolated than a shipwrecked sailor on a raft in the middle of the ocean. Thus you can imagine my amazement, at sunrise, when I was awakened by an odd little voice. It said:</p>
        </div>
      </section>
<% code "html" do %>
<div class="callout">
  ...
</div>
<% end -%>


      <h2>Styles</h2>
      <section class="example">
        <% ["", "primary" ,"success" ,"info" ,"warning" ,"danger"].each do |style| %>
        <div class="callout<%= " #{style}" %>">
          <p>The first night, then, I went to sleep on the sand, a thousand miles from any human habitation. I was more isolated than a shipwrecked sailor on a raft in the middle of the ocean. Thus you can imagine my amazement, at sunrise, when I was awakened by an odd little voice. It said:</p>
        </div>
        <% end -%>
      </section>
<% code "html" do %>
<% ["", "primary" ,"success" ,"info" ,"warning" ,"danger"].each do |style| %>
<div class="callout<%= " #{style}" %>">
  ...
</div>
<% end -%>
<% end -%>

      <h2>Callouts options</h2>
      <p>Style and content changes for simple variations on a standard <code>&lt;callout&gt;</code>.</p>
      <h4>Naming a source</h4>
      <p>Add a <code>&lt;footer&gt;</code> for identifying the source. Wrap the name of the source work in <code>&lt;cite&gt;</code>.</p>
      <section class="example">
        <div class="callout">
          <h4>Header text</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </div>
      </section>
<% code "html" do %>
<div class="callout">
  <h4>Header text</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
</div>
<% end -%>

      <h4>Alternate displays</h4>
      <p>Add <code>.reverse</code> for a callout with right-aligned content.</p>
      <section class="example">
        <div class="callout reverse">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </div>
      </section>
<% code "html" do %>
<div class="callout reverse">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
</div>
<% end -%>

    </div>

  </div>
</div>
