---
title: Forms
---

<div class="container">
  <div class="grid twelve">

    <div class="column three">
      <%= partial "shared/sidebar" %>
    </div>

    <div class="column nine doc">

      <h1 class="title">Form</h1>

      <h2>Basic example</h2>
      <section class="example">
        <form>
          <div class="field">
            <label for="name">Your name *</label>
            <input type="text" name="name" id="name" placeholder="Name" />
          </div>

          <div class="field">
            <label for="email">Your email *</label>
            <input type="email" name="email" id="email" placeholder="Email" />
          </div>

          <div class="field">
            <label for="phone">Your phone *</label>
            <input type="text" name="phone" id="phone" placeholder="Phone" />
          </div>

          <div class="field">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Password">
          </div>

          <div class="field">
            <label for="file">File input</label>
            <input type="file" id="file">
            <p class="hint">This is hint text here.</p>
          </div>

          <div class="field checkbox">
            <label>
              <input type="checkbox"> Check me out
            </label>
          </div>

          <div class="field">
            <label for="message">Your message *</label>
            <textarea name="message" id="message" cols="30" rows="5" placeholder="Message..." /></textarea>
          </div>

          <div class="field">
            <button type="submit">Send Message</button>
          </div>
        </form>
      </section>
<% code "html" do %>
<form>
  <div class="field">
    <label for="name">Your name *</label>
    <input type="text" name="name" id="name">
  </div>
  <div class="field">
    <label for="email">Your email *</label>
    <input type="email" name="email" id="email">
  </div>
  <div class="field">
    <label for="phone">Your phone *</label>
    <input type="text" name="phone" id="phone">
  </div>
  <div class="field">
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="Password">
  </div>
  <div class="field">
    <label for="file">File input</label>
    <input type="file" id="file">
    <p class="hint">This is hint text here.</p>
  </div>
  <div class="field checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <div class="field">
    <label for="message">Your message *</label>
    <textarea name="message" id="message" cols="30" rows="5"></textarea>
  </div>
  <div class="field">
    <button type="submit">Send Message</button>
  </div>
</form>
<% end -%>

      <h2>Inline form</h2>
      <section class="example">
        <form class="inline">
          <div class="field">
            <label for="email">Your email</label>
            <input type="email" name="email" id="email" placeholder="Email" />
          </div>

          <div class="field">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Password" />
          </div>

          <div class="field checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>

          <div class="field">
            <button type="submit">Send Message</button>
          </div>
        </form>
      </section>
<% code "html" do %>
<form class="inline">
  <div class="field">
    <label for="email">Your email</label>
    <input type="email" name="email" id="email" placeholder="Email" />
  </div>

  <div class="field">
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="Password" />
  </div>

  <div class="field checkbox">
    <label>
      <input type="checkbox"> Remember me
    </label>
  </div>

  <div class="field">
    <button type="submit">Send Message</button>
  </div>
</form>
<% end %>

      <h2>Horizontal form</h2>
      <section class="example">
        <form class="horizontal">
          <div class="field">
            <label class="two" for="email">Your email</label>
            <input class="nine" type="email" name="email" id="email" placeholder="Email" />
          </div>

          <div class="field">
            <label class="two" for="password">Password</label>
            <input class="nine" type="password" id="password" placeholder="Password" />
          </div>

          <div class="field checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>

          <div class="field">
            <button type="submit">Send Message</button>
          </div>
        </form>
      </section>
<% code "html" do %>
<form class="horizontal">
  <div class="field">
    <label for="email">Your email</label>
    <input type="email" name="email" id="email" placeholder="Email" />
  </div>

  <div class="field">
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="Password" />
  </div>

  <div class="field checkbox">
    <label>
      <input type="checkbox"> Remember me
    </label>
  </div>

  <div class="field">
    <button type="submit">Send Message</button>
  </div>
</form>
<% end %>
    </div>

  </div>
</div>
