---
title: Forms
---

<div class="container">

  <div class="grid twelve">

    <div class="column three">

      <%= partial "shared/sidebar" %>

    </div>

    <div class="column nine doc">

      <h1 class="title">Form</h1>

      <section>

        <form>
          <div class="field">
            <label for="name">Your name *</label>
            <input type="text" name="name" id="name">
            <div class="state"></div>
          </div>

          <div class="field">
            <label for="email">Your email *</label>
            <input type="email" name="email" id="email">
            <div class="state"></div>
          </div>

          <div class="field">
            <label for="phone">Your phone *</label>
            <input type="text" name="phone" id="phone">
            <div class="state"></div>
          </div>

          <div class="field">
            <label for="message">Your message *</label>
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
            <div class="state"></div>
          </div>

          <div class="field">
              <button type="submit">Send Message</button>
          </div>
        </form>

      </section>

    </div>

  </div>
</div>
