---
title: Lists
---

<div class="container">
  <div class="grid twelve">

    <div class="column three">
      <%= partial "shared/sidebar" %>
    </div>

    <div class="column nine doc">

      <h1 class="title">List</h1>

      <h2>Unordered</h2>
      <p>A list of items in which the order does <em>not</em> explicitly matter.</p>
      <section class="example">
        <ul>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit
            <ul>
              <li>Phasellus iaculis neque</li>
              <li>Purus sodales ultricies</li>
              <li>Vestibulum laoreet porttitor sem</li>
              <li>Ac tristique libero volutpat at</li>
            </ul>
          </li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ul>
      </section>
<% code "html" do %>
<ul>
  <li>...</li>
</ul>
<% end -%>


      <h2>Ordered</h2>
      <p>A list of items in which the order <em>does</em> explicitly matter.</p>
      <section class="example">
        <ol>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit</li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ol>
      </section>
<% code "html" do %>
<ol>
  <li>...</li>
</ol>
<% end -%>

      <h2>Unstyled</h2>
      <p>Remove the default <code>list-style</code> and left margin on list items (immediate children only). <strong>This only applies to immediate children list items</strong>, meaning you will need to add the class for any nested lists as well.</p>
      <section class="example">
        <ul class="unstyled">
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit
            <ul>
              <li>Phasellus iaculis neque</li>
              <li>Purus sodales ultricies</li>
              <li>Vestibulum laoreet porttitor sem</li>
              <li>Ac tristique libero volutpat at</li>
            </ul>
          </li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ul>
      </section>
<% code "html" do %>
<ul class="unstyled">
  <li>...</li>
</ul>
<% end -%>


      <h2>Inline</h2>
      <p>Place all list items on a single line with <code>display: inline-block;</code> and some light padding.</p>
      <section class="example">
        <ul class="inline">
          <li>Lorem ipsum</li>
          <li>Phasellus iaculis</li>
          <li>Nulla volutpat</li>
        </ul>
      </section>
<% code "html" do %>
<ul class="inline">
  <li>...</li>
</ul>
<% end -%>


      <h2>Grid</h2>
      <section class="example">
        <ul class="grid two">
          <li>Lorem ipsum</li>
          <li>Phasellus iaculis</li>
          <li>Nulla volutpat</li>
        </ul>
      </section>
<% code "html" do %>
<ul class="grid two">
  <li>Lorem ipsum</li>
  <li>Phasellus iaculis</li>
  <li>Nulla volutpat</li>
</ul>
<% end %>


      <h2>Description</h2>
      <p>A list of terms with their associated descriptions.</p>
      <section class="example">
        <dl>
          <dt>Description lists</dt>
          <dd>A description list is perfect for defining terms.</dd>
          <dt>Euismod</dt>
          <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
          <dd>Donec id elit non mi porta gravida at eget metus.</dd>
          <dt>Malesuada porta</dt>
          <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
        </dl>
      </section>
<% code "html" do %>
<dl>
  <dt>...</dt>
  <dd>...</dd>
</dl>
<% end -%>


      <h3>Horizontal description</h3>
      <p>Make terms and descriptions in <code>&lt;dl&gt;</code> line up side-by-side. Starts off stacked like default <code>&lt;dl&gt;</code>s, but when the navbar expands, so do these.</p>
      <section class="example">
        <dl class="horizontal">
          <dt>Description lists</dt>
          <dd>A description list is perfect for defining terms.</dd>
          <dt>Euismod</dt>
          <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
          <dd>Donec id elit non mi porta gravida at eget metus.</dd>
          <dt>Malesuada porta</dt>
          <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
          <dt>Felis euismod semper eget lacinia</dt>
          <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
        </dl>
      </section>
<% code "html" do %>
<dl class="horizontal">
  <dt>...</dt>
  <dd>...</dd>
</dl>
<% end -%>


      <h2>Group</h2>
      <h3>Basic example</h3>
      <section class="example">
        <ul class="group">
          <li>Cras justo odio</li>
          <li>Dapibus ac facilisis in</li>
          <li class="disabled">Morbi leo risus</li>
          <li>Porta ac consectetur ac</li>
          <li>Vestibulum at eros</li>
        </ul>
      </section>
<% code "html" do %>
<ul class="group">
  <li>Cras justo odio</li>
  <li>Dapibus ac facilisis in</li>
  <li class="disabled">Morbi leo risus</li>
  <li>Porta ac consectetur ac</li>
  <li>Vestibulum at eros</li>
</ul>
<% end -%>

      <h3>Linked items</h3>
      <section class="example">
        <div class="group">
          <a href="#" class="active">Cras justo odio</a>
          <a href="#">Dapibus ac faciasis in</a>
          <a href="#" class="disabled">Morbi leo risus</a>
          <a href="#">Porta ac consectetur ac</a>
          <a href="#">Vestibulum at eros</a>
        </div>
      </section>
<% code "html" do %>
<div class="group">
  <a href="#" class="active">Cras justo odio</a>
  <a href="#">Dapibus ac faciasis in</a>
  <a href="#" class="disabled">Morbi leo risus</a>
  <a href="#">Porta ac consectetur ac</a>
  <a href="#">Vestibulum at eros</a>
</div>
<% end -%>

      <h3>Labels</h3>
      <section class="example">
        <ul class="group">
          <li><span class="label">14</span> Cras justo odio</li>
          <li><span class="label">2</span> Dapibus ac facilisis in</li>
          <li><span class="label">1</span> Morbi leo risus</li>
        </ul>
      </section>
<% code "html" do %>
<ul class="group">
  <li><span class="label">14</span> Cras justo odio</li>
  <li><span class="label">2</span> Dapibus ac facilisis in</li>
  <li><span class="label">1</span> Morbi leo risus</li>
</ul>
<% end -%>

      <h3>Contextual classes</h3>
      <p>Use contextual classes to style list items, default or linked. Also includes <code>.active</code> state.</p>
      <section class="example">
        <div class="grid two">
          <div class="column">
            <ul class="group">
              <li class="success">Dapibus ac facilisis in</li>
              <li class="info">Cras sit amet nibh libero</li>
              <li class="warning">Porta ac consectetur ac</li>
              <li class="danger">Vestibulum at eros</li>
            </ul>
          </div>
          <div class="column">
            <div class="group">
              <a href="#" class="success">Cras justo odio</a>
              <a href="#" class="info">Dapibus ac faciasis in</a>
              <a href="#" class="warning">Morbi leo risus</a>
              <a href="#" class="danger">Porta ac consectetur ac</a>
            </div>
          </div>
        </div>
      </section>
<% code "html" do %>
<ul class="group">
  <li class="success">Dapibus ac facilisis in</li>
  <li class="info">Cras sit amet nibh libero</li>
  <li class="warning">Porta ac consectetur ac</li>
  <li class="danger">Vestibulum at eros</li>
</ul>
<div class="group">
  <a href="#" class="success">Cras justo odio</a>
  <a href="#" class="info">Dapibus ac faciasis in</a>
  <a href="#" class="warning">Morbi leo risus</a>
  <a href="#" class="danger">Porta ac consectetur ac</a>
</div>
<% end %>

      <h3>Custom content</h3>
      <p>Add nearly any HTML within, even for linked list groups like the one below.</p>
      <section class="example">
        <div class="group">
          <a href="#" class="active">
            <h4 class="heading">List group item heading</h4>
            <p class="text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          </a>
          <a href="#" class="disabled">
            <h4 class="heading">List group item heading</h4>
            <p class="text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          </a>
          <a href="#">
            <h4 class="heading">List group item heading</h4>
            <p class="text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          </a>
        </div>
      </section>
<% code "html" do %>
<div class="group">
  <a href="#" class="active">
    <h4 class="heading">List group item heading</h4>
    <p class="text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
  </a>
</div>
<% end -%>

    </div>

  </div>
</div>
