---
title: Lists
---

<div class="container">
  <div class="grid twelve">

    <div class="column three">
      <%= partial "shared/sidebar" %>
    </div>

    <div class="column nine doc">

      <h1 class="title">List</h1>

      <h2>Unordered</h2>
      <p>A list of items in which the order does <em>not</em> explicitly matter.</p>
      <section class="example">
        <ul>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit
            <ul>
              <li>Phasellus iaculis neque</li>
              <li>Purus sodales ultricies</li>
              <li>Vestibulum laoreet porttitor sem</li>
              <li>Ac tristique libero volutpat at</li>
            </ul>
          </li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ul>
      </section>
<% code "html" do %>
<ul>
  <li>...</li>
</ul>
<% end -%>


      <h2>Ordered</h2>
      <p>A list of items in which the order <em>does</em> explicitly matter.</p>
      <section class="example">
        <ol>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit</li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ol>
      </section>
<% code "html" do %>
<ol>
  <li>...</li>
</ol>
<% end -%>

      <h2>Unstyled</h2>
      <p>Remove the default <code>list-style</code> and left margin on list items (immediate children only). <strong>This only applies to immediate children list items</strong>, meaning you will need to add the class for any nested lists as well.</p>
      <section class="example">
        <ul class="unstyled">
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit
            <ul>
              <li>Phasellus iaculis neque</li>
              <li>Purus sodales ultricies</li>
              <li>Vestibulum laoreet porttitor sem</li>
              <li>Ac tristique libero volutpat at</li>
            </ul>
          </li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ul>
      </section>
<% code "html" do %>
<ul class="list-unstyled">
  <li>...</li>
</ul>
<% end -%>


      <h2>Inline</h2>
      <p>Place all list items on a single line with <code>display: inline-block;</code> and some light padding.</p>
      <section class="example">
        <ul class="inline">
          <li>Lorem ipsum</li>
          <li>Phasellus iaculis</li>
          <li>Nulla volutpat</li>
        </ul>
      </section>
<% code "html" do %>
<ul class="inline">
  <li>...</li>
</ul>
<% end -%>


      <h2>Description</h2>
      <p>A list of terms with their associated descriptions.</p>
      <section class="example">
        <dl>
          <dt>Description lists</dt>
          <dd>A description list is perfect for defining terms.</dd>
          <dt>Euismod</dt>
          <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
          <dd>Donec id elit non mi porta gravida at eget metus.</dd>
          <dt>Malesuada porta</dt>
          <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
        </dl>
      </section>
<% code "html" do %>
<dl>
  <dt>...</dt>
  <dd>...</dd>
</dl>
<% end -%>


      <h4>Horizontal description</h4>
      <p>Make terms and descriptions in <code>&lt;dl&gt;</code> line up side-by-side. Starts off stacked like default <code>&lt;dl&gt;</code>s, but when the navbar expands, so do these.</p>
      <section class="example">
        <dl class="horizontal">
          <dt>Description lists</dt>
          <dd>A description list is perfect for defining terms.</dd>
          <dt>Euismod</dt>
          <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
          <dd>Donec id elit non mi porta gravida at eget metus.</dd>
          <dt>Malesuada porta</dt>
          <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
          <dt>Felis euismod semper eget lacinia</dt>
          <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
        </dl>
      </section>
<% code "html" do %>
<dl class="horizontal">
  <dt>...</dt>
  <dd>...</dd>
</dl>
<% end -%>


    </div>

  </div>
</div>
