---
title: Message
---

<div class="container">
  <div class="grid twelve">

    <div class="column three">
      <%= partial "shared/sidebar" %>
    </div>

    <div class="column nine doc">

      <h1 class="title">Message</h1>

      <h2>Elegant way to display tips/message</h2>
      <div class="message success" data-ride="message" data-duration="2000">
        <div class="inner">hello, im a message <a href="#" title="">link here</a>.</div>
        <span class="close">&times;</span>
      </div>

      <div class="message bottom warning" data-ride="message">
        <div class="inner">hello, im a message.</div>
        <span class="close">&times;</span>
      </div>

<% code "html" do %>
<div class="message success" data-ride="message" data-duration="2000">
  <div class="inner">hello, im a message <a href="#" title="">link here</a>.</div>
  <span class="close">&times;</span>
</div>

<div class="message bottom warning" data-ride="message">
  <div class="inner">hello, im a message.</div>
  <span class="close">&times;</span>
</div>
<% end -%>


      <h2>API</h2>
      <p>Message plugin already export to window object.</p>
      <section class="example">
        <p>Click these buttons run the javascript code.</p>
        <button class="info" id="message-show">show</button>
        <button class="info" id="message-auto-hide">show &amp; hide automaticlly</button>
        <button class="info" id="message-hide">hide</button>

        <button class="info" id="message-at-bottom">show at bottom</button>

        <button class="info" id="message-with-status">show with status</button>
      </section>
<% code "javascript" do %>
// show message
Message.show('This is message!');

// hide automaticlly after 2000
Message.show('This is message!', 2000);

// hide message
Message.hide();

// show at bottom
Message.show({
  message: 'message body show at bottom',
  // the placement can be `top` or `bottom`, by default is `top`
  placement: 'bottom'
});

// show with status
Message.show({
  message: 'message body show with danger status',
  // the placement can be `top` or `bottom`, by default is `top`
  status: 'danger'
});
<% end -%>

    </div>

  </div>
</div>

