---
title: Message
---

<div class="container">
  <div class="grid twelve">

    <div class="column three">
      <%= partial "shared/sidebar" %>
    </div>

    <div class="column nine doc">

      <h1 class="title">Message</h1>

      <h2>Elegant way to display tips/message</h2>
      <div class="message success" data-ride="message" data-duration="2000">
        <div class="inner">hello, im a message <a href="#" title="">link here</a>.</div>
        <span class="close">&times;</span>
      </div>

      <div class="message bottom warning" data-ride="message">
        <div class="inner">hello, im a message.</div>
        <span class="close">&times;</span>
      </div>

<% code "html" do %>
<div class="message success" data-ride="message" data-duration="2000">
  <div class="inner">hello, im a message <a href="#" title="">link here</a>.</div>
  <span class="close">&times;</span>
</div>

<div class="message bottom warning" data-ride="message">
  <div class="inner">hello, im a message.</div>
  <span class="close">&times;</span>
</div>
<% end -%>


      <h2>API</h2>
      <p>Message plugin already export to window object.</p>
      <section class="example">
        <p>Click these buttons run the javascript code.</p>
        <button class="info" id="message-show">show</button>
        <button class="info" id="message-auto-hide">show &amp; hide automaticlly</button>
        <button class="info" id="message-hide">hide</button>

        <button class="info" id="message-at-bottom">show at bottom</button>

        <button class="info" id="message-with-status">show with status</button>
      </section>
<% code "js" do %>
// show message
Message.show('This is message!');

// hide automaticlly after 2000 milliseconds
Message.show('This is message!', 2000);

// hide message
Message.hide();

// show at bottom
Message.show({
  message: 'message body show at bottom',
  // the placement can be `top` or `bottom`, by default is `top`
  placement: 'bottom'
});

// show with status
// add class `danger` to the container
// there're 5 status: [default], success, info, warning, danger
Message.show({
  message: 'message body show with danger status',
  // the placement can be `top` or `bottom`, by default is `top`
  status: 'danger'
});
<% end -%>


      <h2>Options</h2>
      <table class="bordered striped">
        <thead>
         <tr>
           <th style="width: 100px;">Name</th>
           <th style="width: 100px;">Type</th>
           <th style="width: 50px;">Default</th>
           <th>Description</th>
         </tr>
        </thead>
        <tbody>
         <tr>
           <td>template</td>
           <td>string</td>
           <td><code>'&lt;div class="message"&gt;&lt;div class="inner"&gt;&lt;/div&gt;&lt;span class="close"&gt;&times;'&lt;/span&gt;&lt;/div&gt;'</code></td>
           <td>
            Base HTML to use when creating the message.
            The message's content will be injected into the <code>.inner</code>.
            <code>.close</code> will become the message's close. The outermost wrapper element should have the <code>.message</code> class.
           </td>
         </tr>
         <tr>
           <td>message</td>
           <td>string|object</td>
           <td>null</td>
           <td>
            'message content text/html' <br />
            <code>{message: 'text/thml', placement: 'bottom', status: 'danger'}</code>
           </td>
         </tr>
         <tr>
           <td>placement</td>
           <td>string</td>
           <td>top</td>
           <td>The placement can be `top` or `bottom`, by default is `top`</td>
         </tr>
         <tr>
           <td>status</td>
           <td>string</td>
           <td>''</td>
           <td>
            Show with status, add class `[default]| success| info| warning| danger` to the container.
           </td>
         </tr>
         <tr>
           <td>duration</td>
           <td>number</td>
           <td>null</td>
           <td>Message hide automaticlly after a number</td>
         </tr>
        </tbody>
      </table>


      <h2>Methods</h2>
      <h4>$().message(options)</h4>
      <p>Attaches a message handler to an element collection.</p>

      <h4>.message('show')</h4>
      <p>Show the message.</p>
      <% code "js" do -%>$('#element').message('show')<% end -%>

      <h4>.message('hide')</h4>
      <p>Hide the message.</p>
      <% code "js" do -%>$('#element').message('hide')<% end -%>

      <h4>.message('toggle')</h4>
      <p>Toggles the message.</p>
      <% code "js" do -%>$('#element').message('toggle')<% end -%>

      <h4>.message('destroy')</h4>
      <p>Hide and destroys the message.</p>
      <% code "js" do -%>$('#element').message('destroy')<% end -%>

    </div>

  </div>
</div>

