---
title: Message
---

<div class="container">
  <div class="grid twelve">

    <div class="column three">
      <%= partial "shared/sidebar" %>
    </div>

    <div class="column nine doc">

      <h1 class="title">Message</h1>

      <h2>Elegant way to display tips/message</h2>
      <section class="example">

        <div class="message">hello, im a message <a href="#" title="">link here</a>.<span class="close">&times;</span></div>

        <div class="message bottom">hello, im a message.<span class="close">&times;</span></div>

        <button id="show">show</button>
        <button id="auto">show &amp; hide automaticlly</button>
        <button id="bottom">show at bottom</button>
        <button id="status">show with status</button>
        <button id="hide">hide</button>
      </section>

    </div>

  </div>
</div>

