---
title: Modals
---

<div class="container">
  <div class="grid twelve">

    <div class="column three">
      <%= partial "shared/sidebar" %>
    </div>

    <div class="column nine doc">

      <h1 class="title">Modals</h1>

      <h2>Static example</h2>
      <p>A rendered modal with header, body, and set of actions in the footer.</p>
      <section class="example has-modal">
        <div class="modal">
          <div class="dialog">
            <div class="content">
              <div class="header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4>Modal title</h4>
              </div>
              <div class="body">
                <p>One fine body&hellip;</p>
              </div>
              <div class="footer">
                <button type="button" class="default" data-dismiss="modal">Close</button>
                <button type="button" class="primary">Save changes</button>
              </div>
            </div><!-- /.content -->
          </div><!-- /.dialog -->
        </div><!-- /.modal -->
      </section>
<% code "html" do %>
<div class="modal">
  <div class="dialog">
    <div class="content">
      <div class="header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4>Modal title</h4>
      </div>
      <div class="body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="footer">
        <button type="button" data-dismiss="modal">Close</button>
        <button type="button" class="primary">Save changes</button>
      </div>
    </div><!-- /.content -->
  </div><!-- /.dialog -->
</div><!-- /.modal -->
<% end -%>


      <h2>Live demo</h2>
      <p>Toggle a modal via JavaScript by clicking the button below. It will slide down and fade in from the top of the page.</p>
      <section class="example">
        <button class="btn primary" data-toggle="modal" data-target="#myModal">Launch demo modal</button>
      </section>
<% code "html" do %>
<!-- Button trigger modal -->
<button class="btn primary large" data-toggle="modal" data-target="#myModal">Launch demo modal</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="dialog">
    <div class="content">
      <div class="header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 id="myModalLabel">Modal title</h4>
      </div>
      <div class="body">
        ...
      </div>
      <div class="footer">
        <button type="button" data-dismiss="modal">Close</button>
        <button type="button" class="primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<% end -%>

      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="dialog">
          <div class="content">
            <div class="header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
              <h4 id="myModalLabel">Modal title</h4>
            </div>
            <div class="body">
              <h4>Overflowing text to show scroll behavior</h4>

              <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

              <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>

              <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

              <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>

              <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

              <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
            </div>
            <div class="footer">
              <button type="button" data-dismiss="modal">Close</button>
              <button type="button" class="primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>
