---
title: Progress
---

<div class="container">
  <div class="grid twelve">

    <div class="column three">
      <%= partial "shared/sidebar" %>
    </div>

    <div class="column nine doc">

      <h1 class="title">Progress bars</h1>
      <p>Provide up-to-date feedback on the progress of a workflow or action with simple yet flexible progress bars.</p>

    </div>

  </div>
</div>
