---
title: Tabs
---

<div class="container">

  <div class="grid twelve">

    <div class="column three">

      <%= partial "shared/sidebar" %>

    </div>

    <div class="column nine grid-doc">

      <h1 class="title">Tabs</h1>
      <h2>Default</h2>
      <section class="example">
        <ul class="tabs">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Messages</a></li>
        </ul>
      </section>
<% code "html" do %>
<ul class="tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Messages</a></li>
</ul>
<% end %>

    </div>

  </div>
</div>
