---
title: Tabs
---

<div class="container">

  <div class="grid twelve">

    <div class="column three">

      <%= partial "shared/sidebar" %>

    </div>

    <div class="column nine grid-doc">

      <h1 class="title">Tabs</h1>

    </div>

  </div>
</div>
