---
title: Tooltips
---

<div class="container">
  <div class="grid twelve">

    <div class="column three">
      <%= partial "shared/sidebar" %>
    </div>

    <div class="column nine doc">

      <h1 class="title">Tooltips</h1>

      <h2>Examples</h2>
      <section class="example">
        <button type="button" data-toggle="tooltip" data-placement="left" title="Tooltip text on left">Tooltip on left</button>
        <button type="button" data-toggle="tooltip" data-placement="top" title="Tooltip text on top">Tooltip on top</button>
        <button type="button" data-toggle="tooltip" data-placement="bottom" title="Tooltip text on bottom">Tooltip on bottom</button>
        <button type="button" data-toggle="tooltip" data-placement="right" title="Tooltip text on right">Tooltip on right</button>
      </section>

    </div>

  </div>
</div>
