---
title: Tooltips
---

<div class="container">
  <div class="grid twelve">

    <div class="column three">
      <%= partial "shared/sidebar" %>
    </div>

    <div class="column nine doc">

      <h1 class="title">Tooltips</h1>

      <h2>Examples</h2>
      <section class="example">
        <button type="button" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>
        <button type="button" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button>
        <button type="button" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button>
        <button type="button" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>
      </section>
<% code "html" do %>
<button type="button" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>
<button type="button" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button>
<button type="button" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button>
<button type="button" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>
<% end -%>


      <h2>Contextual alternatives</h2>
      <p>Like other components, easily make a panel more meaningful to a particular context by adding any of the contextual state classes.</p>
      <section class="example">
        <button type="button" class="primary" data-toggle="tooltip" data-contextual="primary" title="Tooltip with primary">Tooltip with primary</button>
        <button type="button" class="success" data-toggle="tooltip" data-contextual="success" title="Tooltip with success">Tooltip with success</button>
        <button type="button" class="info" data-toggle="tooltip" data-contextual="info" title="Tooltip with info">Tooltip with info</button>
        <button type="button" class="warning" data-toggle="tooltip" data-contextual="warning" title="Tooltip with warning">Tooltip with warning</button>
        <button type="button" class="danger" data-toggle="tooltip" data-contextual="danger"  title="Tooltip with danger">Tooltip with danger</button>
      </section>
<% code "html" do %>
<button type="button" class="primary" data-toggle="tooltip" data-contextual="primary" title="Tooltip with primary">Tooltip with primary</button>
<button type="button" class="success" data-toggle="tooltip" data-contextual="success" title="Tooltip with success">Tooltip with success</button>
<button type="button" class="info" data-toggle="tooltip" data-contextual="info" title="Tooltip with info">Tooltip with info</button>
<button type="button" class="warning" data-toggle="tooltip" data-contextual="warning" title="Tooltip with warning">Tooltip with warning</button>
<button type="button" class="danger" data-toggle="tooltip" data-contextual="danger"  title="Tooltip with danger">Tooltip with danger</button>
<% end -%>

    </div>

  </div>
</div>
