@charset "utf-8";

@import "mice";

@import "syntax";

section.example{
  margin-bottom: 15px;
  padding: 20px 10px 10px 10px;
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
  position: relative;

  &:after {
    content: "Example";
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #BBB;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

pre.highlight{
  padding: 15px;
  margin-top: 15px;
  overflow-x: auto;
  font-size: 13px;
  color: #777;
  word-wrap: normal;
  white-space: pre;
  background-color: #FAFAFA;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;

  border-right: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-radius: 3px;
}

.grid-doc .column{
  padding: 10px;
  background-color: #EEE;
  border: 1px solid #DDD;
}

.icon-example .column {
  height: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 25px 0;
  text-align: center;
  color: #333;
  cursor: pointer;

  .icon{
    display: block;
    font-size: 1.8em;
    margin-bottom: 0.5em;
    // -webkit-transition: all 0.2s ease-out;
    //    -moz-transition: all 0.2s ease-out;
    //      -o-transition: all 0.2s ease-out;
    //     -ms-transition: all 0.2s ease-out;
    //         transition: all 0.2s ease-out;
    -webkit-backface-visibility: hidden;
  }

  &:hover{
    background: #009FDA;
    color: #FFF;
    .icon {
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -o-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5);
    }
  }
}