@charset "utf-8";

@import "mice";

@import "syntax";

h2{
  margin-top: 20px;
}

section.example{
  margin-top: 15px;
  padding: 35px 10px 10px 10px;
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
  position: relative;

  &:after {
    content: "Example";
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #BBB;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  table,
  .alert:last-child{
    margin-bottom: 0;
  }

  table {
    tr:last-child td{ border-bottom: none; }
  }

  .bg-primary,
  .bg-success,
  .bg-info,
  .bg-warning,
  .bg-danger{
    padding: 10px;
  }

  .breadcrumb:last-child{ margin-bottom: 5px; }
  .well:last-child{ margin-bottom: 10px; }

  &.has-modal{
    background-color: #F5F5F5;
  }

  .modal{
    display: block;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;

    .dialog{
      left: auto;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

pre.highlight{
  padding: 15px;
  margin-top: -1px;
  overflow-x: auto;
  font-size: 13px;
  color: #777;
  word-wrap: normal;
  white-space: pre;
  background-color: #FAFAFA;
  border: 1px solid #DDD;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.grid-doc .column{
  padding: 10px;
  background-color: #EEE;
  border: 1px solid #DDD;
}

.icon-example .column {
  height: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 25px 0;
  text-align: center;
  color: #333;
  cursor: pointer;

  .icon{
    display: block;
    font-size: 1.8em;
    margin-bottom: 0.5em;
    // -webkit-transition: all 0.2s ease-out;
    //    -moz-transition: all 0.2s ease-out;
    //      -o-transition: all 0.2s ease-out;
    //     -ms-transition: all 0.2s ease-out;
    //         transition: all 0.2s ease-out;
    -webkit-backface-visibility: hidden;
  }

  &:hover{
    background: #009FDA;
    color: #FFF;
    .icon {
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -o-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5);
    }
  }
}

body.mobile{
  .navbar{
    position: relative;
    z-index: 99;
  }

  article.component{
    opacity: .3;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;

    &.active{
      opacity: 1;
    }
  }

  .device{
    position: fixed;
    top: -45px;
    z-index: 9;
    width: 395px;
    height: 815px;
    background-image: url(/images/iphone.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
    -webkit-transition: background-image .1s linear;
    -moz-transition: background-image .1s linear;
    transition: background-image .1s linear;
  }

  #window{
    position: absolute;
    top: 119px;
    left: 36px;
    width: 325px;
    height: 575px;
    overflow: hidden;
    background-color: #fff;
    border: none;
  }

}