---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Components" bodyClass="components components_index" activeSection="components" currentPage="/components">
  <h1 class="title">Components</h1>

  <h2>Timeline</h2>

  <div class="timeline">
    <ul>
      <li><span class="title">2008</span></li>
      <li><span class="title">2009</span></li>
      <li><span class="title">2010</span></li>
      <li><span class="title">2011</span></li>
      <li><span class="title">2012</span></li>
      <li><span class="title">2013</span></li>
      <li class="active"><span class="title">2014</span></li>
    </ul>
  </div>
</Layout>
