---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Components" bodyClass="components components_index" activeSection="components" currentPage="/components">
  <h1 class="title">Components</h1>
</Layout>
