---
title: Input
---

<div class="container">

  <div class="grid twelve">

    <div class="column three">

      <%= partial "shared/sidebar" %>

    </div>

    <div class="column nine doc">

      <h1 class="title">Input</h1>


      <section class="example">
        <h2>Base</h2>
        <p><input type="text" placeholder="input here..." /></p>
        <p><textarea cols="120" rows="5" placeholder="input here..."></textarea></p>
      </section>
<% code "html" do %>
<input type="text" placeholder="input here..." />
<textarea cols="120" rows="5" placeholder="input here..."></textarea>
<% end -%>

      <section class="example">
        <h2>Fluid</h2>
        <p><input type="text" class="fluid" placeholder="input here..." /></p>
        <p><textarea cols="120" rows="5" class="fluid" placeholder="input here..."></textarea></p>
      </section>
<% code "html" do %>
<input type="text" class="fluid" placeholder="input here..." />
<textarea cols="120" rows="5" class="fluid" placeholder="input here..."></textarea>
<% end -%>

      <section class="example">
        <h2>Disabled state</h2>
        <p><input type="text" placeholder="Disabled input here..." disabled="disabled" class="fluid" /></p>
        <p><input type="text" placeholder="Disabled input here..." disabled="disabled" class="fluid primary" /></p>
      </section>
<% code "html" do %>
<input type="text" placeholder="Disabled input here..." disabled="disabled" />
<input type="text" placeholder="Disabled input here..." disabled="disabled" class="primary" />
<% end -%>

      <section class="example">
        <h2>sizing</h2>
        <p><input type="text" class="small" placeholder=".small input" /></p>
        <p><input type="text" placeholder="default input" /></p>
        <p><input type="text" class="large" placeholder=".large input" /></p>
      </section>
<% code "html" do %>
<input type="text" class="small" placeholder=".small input" />
<input type="text" placeholder="default input" />
<input type="text" class="large" placeholder=".large input" />
<% end -%>

      <section class="example">
        <h2>Color</h2>
        <p><input type="text" class="fluid primary" placeholder=".primary" /></p>
        <p><input type="text" class="fluid success" placeholder=".success" /></p>
        <p><input type="text" class="fluid info"    placeholder=".info" /></p>
        <p><input type="text" class="fluid warning" placeholder=".warning" /></p>
        <p><input type="text" class="fluid danger"  placeholder=".danger" /></p>
        <p><textarea cols="120" rows="5" class="fluid primary" placeholder=".primary"></textarea></p>
      </section>
<% code "html" do %>
<input type="text" class="fluid primary" placeholder=".primary" />
<input type="text" class="fluid success" placeholder=".success" />
<input type="text" class="fluid info"    placeholder=".info" />
<input type="text" class="fluid warning" placeholder=".warning" />
<input type="text" class="fluid danger"  placeholder=".danger" />
<textarea cols="120" rows="5" class="fluid primary" placeholder=".primary"></textarea>
<% end -%>


      <h2>Input groups</h2>
      <section class="example">
        <div class="inputs">
          <span class="addon">@</span>
          <input type="text" placeholder="Username" />
        </div>
        <br />
        <div class="inputs">
          <input type="text" />
          <span class="addon">.00</span>
        </div>
      </section>
<% code "html" do %>
<div class="inputs">
  <span class="addon">@</span>
  <input type="text" />
</div>
<% end %>

    </div>

  </div>
</div>
