---
import Layout from '../../../layouts/Layout.astro';
import Example from '../../../components/Example.astro';
import Code from '../../../components/Code.astro';
---

<Layout
  title="Modals"
  bodyClass="docs_components components_modals"
  activeSection="docs"
  currentPage="/docs/components/modals"
>
  <h1 class="title">Modals</h1>

  <h2>Static example</h2>
  <p>A rendered modal with header, body, and set of actions in the footer.</p>
  <Example>
    <div class="modal">
      <div class="dialog">
        <div class="content">
          <div class="header">
            <button type="button" class="close" data-dismiss="modal"
              ><span aria-hidden="true">&times;</span></button
            >
            <h4>Modal title</h4>
          </div>
          <div class="body">
            <p>One fine body&hellip;</p>
          </div>
          <div class="footer">
            <button type="button" class="default" data-dismiss="modal">Close</button>
            <button type="button" class="primary">Save changes</button>
          </div>
        </div><!-- /.content -->
      </div><!-- /.dialog -->
    </div><!-- /.modal -->
  </Example>

  <h2>Live demo</h2>
  <p>
    Toggle a modal via JavaScript by clicking the button below. It will slide down and fade in from
    the top of the page.
  </p>
  <Example>
    <button class="btn primary" data-toggle="modal" data-target="#live-modal"
      >Launch demo modal</button
    >
  </Example>

  <div
    class="modal fade"
    id="live-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="dialog">
      <div class="content">
        <div class="header">
          <button type="button" class="close" data-dismiss="modal"
            ><span aria-hidden="true">&times;</span></button
          >
          <h4 id="myModalLabel">Modal title</h4>
        </div>
        <div class="body">
          <h4>Overflowing text to show scroll behavior</h4>
          <p>
            Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
            in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
          </p>
          <p>
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis
            lacus vel augue laoreet rutrum faucibus dolor auctor.
          </p>
          <p>
            Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel
            scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus
            auctor fringilla.
          </p>
          <p>
            Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
            in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
          </p>
          <p>
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis
            lacus vel augue laoreet rutrum faucibus dolor auctor.
          </p>
          <p>
            Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel
            scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus
            auctor fringilla.
          </p>
          <p>
            Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
            in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
          </p>
          <p>
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis
            lacus vel augue laoreet rutrum faucibus dolor auctor.
          </p>
          <p>
            Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel
            scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus
            auctor fringilla.
          </p>
        </div>
        <div class="footer">
          <button type="button" data-dismiss="modal">Close</button>
          <button type="button" class="primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <h2>Optional sizes</h2>
  <p>
    Modals have two optional sizes, available via modifier classes to be placed on a <code
      >.dialog</code
    >.
  </p>
  <Example>
    <button class="btn primary" data-toggle="modal" data-target="#small-live-modal"
      >Small modal</button
    >
    <button class="btn primary" data-toggle="modal" data-target="#large-live-modal"
      >Large modal</button
    >
  </Example>
  <div
    id="small-live-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel"
    aria-hidden="true"
  >
    <div class="dialog small">
      <div class="content">
        <div class="header">
          <button type="button" class="close" data-dismiss="modal"
            ><span aria-hidden="true">&times;</span></button
          >
          <h4 id="myModalLabel">Modal title</h4>
        </div>
        <div class="body">...</div>
      </div>
    </div>
  </div>

  <div
    id="large-live-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel"
    aria-hidden="true"
  >
    <div class="dialog large">
      <div class="content">
        <div class="header">
          <button type="button" class="close" data-dismiss="modal"
            ><span aria-hidden="true">&times;</span></button
          >
          <h4 id="myModalLabel">Modal title</h4>
        </div>
        <div class="body">...</div>
      </div>
    </div>
  </div>

  <h2>Remove animation</h2>
  <p>
    For modals that simply appear rather than fade in to view, remove the <code>.fade</code> class from
    your modal markup.
  </p>
  <Code
    language="html"
    code={`
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  ...
</div>
`}
  />
</Layout>
