---
import Layout from '../../../layouts/Layout.astro';
import Example from '../../../components/Example.astro';
import Code from '../../../components/Code.astro';
---

<Layout title="Navbar" bodyClass="docs_components components_navbar" activeSection="docs" currentPage="/docs/components/navbar">
<h1 class="title">Navbar</h1>

      <h2>Default navbar</h2>
      <Example>
        <nav class="navbar">
          <div class="logo">
            <a href="/" class="brand">Mice</a>
          </div>

          <ul class="menu">
            <li class="active"><a href="/elements">Elements</a></li>
            <li><a href="/components/grid.html">Grid</a></li>
          </ul>

          <form>
            <input type="text" placeholder="Search">
            <button type="submit">Submit</button>
          </form>

          <ul class="menu righted">
            <li><a href="https://github.com/miclle/mice"> Github</a></li>
          </ul>
        </nav>
      </Example>


      <h2>Fixed to top</h2>
      <p>Add <code>.top</code> and include a <code>.container</code> to center and pad navbar content.</p>
<Code language="html" code={`
<nav class="navbar top">
  <div class="container">
    ...
  </div>
</nav>
`} />


      <h2>Fixed to bottom</h2>
      <p>Add <code>.bottom</code> and include a <code>.container</code> to center and pad navbar content.</p>
<Code language="html" code={`
<nav class="navbar bottom">
  <div class="container">
    ...
  </div>
</nav>
`} />
</Layout>
