---
import Layout from '../../../layouts/Layout.astro';
import Example from '../../../components/Example.astro';
---

<Layout
  title="Progress bars"
  bodyClass="docs_components components_progress"
  activeSection="docs"
  currentPage="/docs/components/progress"
>
  <h1 class="title">Progress bars</h1>
  <p>
    Provide up-to-date feedback on the progress of a workflow or action with simple yet flexible
    progress bars.
  </p>

  <h2>Default progress bar.</h2>
  <Example>
    <div class="progress">
      <div class="bar" style="width: 45%;"></div>
    </div>
    <div class="progress">
      <div class="bar" style="width: 60%;">60%</div>
    </div>
  </Example>

  <h2>Contextual alternatives</h2>
  <p>Progress bars use some of the same button and alert classes for consistent styles.</p>
  <Example>
    <div class="progress">
      <div class="bar success" style="width: 40%;"></div>
    </div>
    <div class="progress">
      <div class="bar info" style="width: 20%;"></div>
    </div>
    <div class="progress">
      <div class="bar warning" style="width: 60%;"></div>
    </div>
    <div class="progress">
      <div class="bar danger" style="width: 80%;"></div>
    </div>
  </Example>

  <h2>Striped</h2>
  <p>Uses a gradient to create a striped effect. Not available in IE8.</p>
  <Example>
    <div class="progress striped">
      <div class="bar success" style="width: 40%"></div>
    </div>
    <div class="progress striped">
      <div class="bar info" style="width: 20%"></div>
    </div>
    <div class="progress striped">
      <div class="bar warning" style="width: 60%"></div>
    </div>
    <div class="progress striped">
      <div class="bar danger" style="width: 80%"></div>
    </div>
  </Example>

  <h2>Animated</h2>
  <p>Add <code>.active</code> to <code>.striped</code> to animate the stripes left to right.</p>
  <Example>
    <div class="progress striped active">
      <div class="bar" style="width: 45%"></div>
    </div>
  </Example>

  <h2>Stacked</h2>
  <p>Place multiple bars into the same <code>.progress</code> to stack them.</p>
  <Example>
    <div class="progress">
      <div class="bar success" style="width: 35%"></div>
      <div class="bar warning" style="width: 20%"></div>
      <div class="bar danger" style="width: 10%"></div>
    </div>
  </Example>
</Layout>
