---
import Layout from '../../../layouts/Layout.astro';
import Example from '../../../components/Example.astro';
---

<Layout title="Tabs" bodyClass="docs_components components_tabs" activeSection="docs" currentPage="/docs/components/tabs">
<h1 class="title">Tabs</h1>
      <h2>Default</h2>
      <Example>
        <ul class="tabs">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Messages</a></li>
        </ul>
      </Example>


      <h2>Justified</h2>
      <p>Easily make tabs or pills equal widths of their parent.</p>
      <Example>
        <ul class="tabs justified">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Messages</a></li>
        </ul>
      </Example>
</Layout>
