---
import Layout from '../../../layouts/Layout.astro';
import Example from '../../../components/Example.astro';
---

<Layout title="Tags" bodyClass="docs_components components_tags" activeSection="docs" currentPage="/docs/components/tags">
  <h1 class="title">Tags</h1>

  <h2>Default</h2>
  <Example>
    <span class="tag">Default</span>
    <span class="tag primary">Primary</span>
    <span class="tag success">Success</span>
    <span class="tag info">Info</span>
    <span class="tag warning">Warning</span>
    <span class="tag danger">Danger</span>
  </Example>


  <h2>Heading tag</h2>
  <Example>
    <table>
      <tbody>
        <tr>
          <td>
            <h1>h1. Heading <span class="tag">New</span></h1>
          </td>
        </tr>
        <tr>
          <td>
            <h2>h2. Heading <span class="tag">New</span></h2>
          </td>
        </tr>
        <tr>
          <td>
            <h3>h3. Heading <span class="tag">New</span></h3>
          </td>
        </tr>
        <tr>
          <td>
            <h4>h4. Heading <span class="tag">New</span></h4>
          </td>
        </tr>
        <tr>
          <td>
            <h5>h5. Heading <span class="tag">New</span></h5>
          </td>
        </tr>
        <tr>
          <td>
            <h6>h6. Heading <span class="tag">New</span></h6>
          </td>
        </tr>
      </tbody>
    </table>
  </Example>


  <h2>Sizing</h2>
  <Example>
    <span class="tag">tag</span>
    <span class="tag large">tag</span>
  </Example>


  <h2>Other</h2>
  <Example>
    <a href="#" class="tag">tag</a>
    <div class="button"><span class="tag">tag</span></div>
    <button><span class="tag">tag</span></button>
  </Example>
</Layout>
