<form class="inline">
  <div class="field">
    <label for="email">Your email</label>
    <input type="email" name="email" id="email" placeholder="Email" />
  </div>

  <div class="field">
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="Password" />
  </div>

  <div class="field checkbox">
    <label>
      <input type="checkbox"> Remember me
    </label>
  </div>

  <div class="field">
    <button type="submit">Send Message</button>
  </div>
</form>