<form class="inline">
  <input type="email" name="email" placeholder="Email" />
  <input type="password" placeholder="Password" />
  <label>
    <input type="checkbox"> Remember me
  </label>
  <button type="submit">Send Message</button>
</form>