<nav class="sidebar">
  <ul class="menu">

    <li class="heading"><a href="/elements">Elements</a></li>
    <li><a href="/elements/typography.html">Typography</a></li>
    <li><a href="/elements/code.html">Code</a></li>
    <li><a href="/elements/buttons.html">Buttons</a></li>
    <li><a href="/elements/input.html">Input</a></li>
    <li><a href="/elements/images.html">Images</a></li>
    <li><a href="/elements/icons.html">Icons</a></li>

    <li class="heading"><a href="/helper">Helper classes</a></li>

    <li class="heading"><a href="/components">Components</a></li>
    <li><a href="/components/callouts.html">Callouts</a></li>
    <li><a href="/components/labels.html">Labels</a></li>
    <li><a href="/components/lists.html">Lists</a></li>
    <li><a href="/components/tables.html">Tables</a></li>
    <li><a href="/components/forms.html">Forms</a></li>
    <li><a href="/components/timeline.html">Timeline</a></li>

    <li><a href="/components/navbar.html">Navbar</a></li>

    <li class="heading"><a href="/components/grid.html">Grid</a></li>

    <!--
    <li class="heading">Navigation</li>
    <li><a href="/elements/grid.html">Navbar</a></li>
    <li><a href="/elements/grid.html">Menu</a></li>
    -->

  </ul>
</nav>