<nav class="sidebar">
  <ul class="menu">

    <li class="heading"><a href="/elements">Elements</a></li>
    <li><a href="/elements/typography.html">Typography</a></li>
    <li><a href="/elements/buttons.html">Buttons</a></li>
    <li><a href="/elements/icons.html">Icons</a></li>

    <li class="heading"><a href="/components">Components</a></li>
    <li><a href="/components/tables.html">Tables</a></li>

    <li class="heading">Grid</li>

    <li class="<%= "active" if page_classes == "grid" -%>">
      <a href="/grid.html">Grid</a>
    </li>

    <li><a href="/grid.html#two-columns">Two columns</a></li>
    <li><a href="/grid.html#three-columns">Three columns</a></li>
    <li><a href="/grid.html#four-columns">Four columns</a></li>
    <li><a href="/grid.html#five-columns">Five columns</a></li>
    <li><a href="/grid.html#six-columns">Six columns</a></li>
    <li><a href="/grid.html#seven-columns">Seven columns</a></li>
    <li><a href="/grid.html#eight-columns">Eight columns</a></li>
    <li><a href="/grid.html#nine-columns">Nine columns</a></li>
    <li><a href="/grid.html#ten-columns">Ten columns</a></li>
    <li><a href="/grid.html#eleven-columns">Eleven columns</a></li>
    <li><a href="/grid.html#twelve-columns">Twelve columns</a></li>

    <!--
    <li class="heading">Navigation</li>
    <li><a href="/elements/grid.html">Navbar</a></li>
    <li><a href="/elements/grid.html">Menu</a></li>
    -->

  </ul>
</nav>