---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Mice" bodyClass="index" showSidebar={false}>
  <div class="text center">
    <h1>Mice is semantic front-end framework.</h1>
  </div>
</Layout>
