---
import Layout from '../../../layouts/Layout.astro';
import Code from '../../../components/Code.astro';
---

<Layout title="Buttons" bodyClass="docs_elements elements_buttons" activeSection="docs" currentPage="/docs/elements/buttons">
  <h1 class="title">Button</h1>

  <h2>Basic buttons</h2>
  <section class="example">
    <p>
      <button>default</button>
      <button class="primary">primary</button>
      <a href="#" class="button success">success</a>
      <a href="#" class="button info">info</a>
      <input class="warning" type="button" value="warning" />
      <input class="danger" type="submit" value="danger" />
    </p>
  </section>
  <Code language="html" code={`
<button>default</button>
<button class="primary">primary</button>
<a href="#" class="button">default</a>
<input class="warning" type="button" value="warning" />
<input class="danger" type="submit" value="danger" />
`} />

  <h2>Disabled button</h2>
  <section class="example">
    <button disabled="disabled">default</button>
    <button disabled="disabled" class="primary">primary</button>
    <a href="#" class="button disabled success">success</a>
    <a href="#" class="button disabled info">info</a>
    <input disabled="disabled" class="warning" type="button" value="warning" />
    <input disabled="disabled" class="danger" type="submit" value="danger" />
  </section>
  <Code language="html" code={`
<button disabled="disabled">default</button>
<a href="#" class="button disabled">default</a>
<input disabled="disabled" class="warning" type="button" value="warning" />
<input disabled="disabled" class="danger" type="submit" value="danger" />
`} />

  <h2>Group buttons</h2>
  <section class="example">
    <div class="buttons">
      <button>Left</button>
      <button>Middle</button>
      <button>Right</button>
    </div>
    <div class="buttons">
      <a href="#" class="button primary">Left</a>
      <a href="#" class="button primary">Middle</a>
      <a href="#" class="button primary">Right</a>
    </div>
  </section>
  <Code language="html" code={`
<div class="buttons">
  <button>Left</button>
  <button>Middle</button>
  <button>Right</button>
</div>
`} />

  <h2>Vertically buttons</h2>
  <section class="example">
    <div class="buttons vertical">
      <button>Top</button>
      <button>Middle</button>
      <button>Bottom</button>
    </div>
    <div class="buttons vertical">
      <a href="#" class="button primary">Top</a>
      <a href="#" class="button primary">Middle</a>
      <a href="#" class="button primary">Bottom</a>
    </div>
  </section>
  <Code language="html" code={`
<div class="buttons vertical">
  <button>Left</button>
  <button>Middle</button>
  <button>Right</button>
</div>
`} />

  <h2>Sizing</h2>
  <section class="example">
    <p>
      <button class="mini">Mini button</button>
      <a href="#" class="button primary mini">Mini button</a>
    </p>
    <p>
      <button class="small">Small button</button>
      <a href="#" class="button primary small">Small button</a>
    </p>
    <p>
      <button>Default button</button>
      <a href="#" class="button primary">Default button</a>
    </p>
    <p>
      <button class="large">Large button</button>
      <a href="#" class="button primary large">Large button</a>
    </p>
  </section>
  <Code language="html" code={`
<button class="mini">Mini button</button>
<a href="#" class="button primary mini">Mini button</a>
`} />

  <h2>Block</h2>
  <section class="example">
    <p>
      <button class="block large">Block level button</button>
    </p>
    <p>
      <a href="#" class="button primary block large">Block level button</a>
    </p>
  </section>
  <Code language="html" code={`
<button class="block large">Block level button</button>
<a href="#" class="button primary block large">Block level button</a>
`} />

  <h2>Justified</h2>
  <section class="example">
    <div class="buttons justified">
      <a href="#" class="button">Left</a>
      <a href="#" class="button">Middle</a>
      <a href="#" class="button">Right</a>
    </div>
    <br />
    <div class="buttons justified">
      <a href="#" class="button primary">Left</a>
      <a href="#" class="button primary">Middle</a>
      <a href="#" class="button primary">Right</a>
    </div>
  </section>
  <Code language="html" code={`
<div class="buttons justified">
  <a href="#" class="button">Left</a>
  <a href="#" class="button">Middle</a>
  <a href="#" class="button">Right</a>
</div>
`} />

  <h3>With &lt;button&gt; elements</h3>
  <section>
    <div class="buttons justified">
      <div class="buttons">
        <button>Left</button>
      </div>
      <div class="buttons">
        <button>Middle</button>
      </div>
      <div class="buttons">
        <button>Right</button>
      </div>
    </div>
    <br />
    <div class="buttons justified">
      <div class="buttons">
        <button class="primary">Left</button>
      </div>
      <div class="buttons">
        <button class="primary">Middle</button>
      </div>
      <div class="buttons">
        <button class="primary">Right</button>
      </div>
    </div>
  </section>
  <Code language="html" code={`
<div class="buttons justified">
  <div class="buttons">
    <button>Left</button>
  </div>
  <div class="buttons">
    <button>Middle</button>
  </div>
  <div class="buttons">
    <button>Right</button>
  </div>
</div>
`} />

  <h2>Checkbox & Radio in button</h2>
  <section class="example">
    <label class="button">
      <input type="checkbox" name="" value="" /> Checkbox in button
    </label>
    <label class="button">
      <input type="radio" name="" value="" /> Radio in button
    </label>
  </section>
  <Code language="html" code={`
<label class="button">
  <input type="checkbox" name="" value=""> Checkbox in button
</label>
<label class="button">
  <input type="radio" name="" value=""> Radio in button
</label>
`} />
</Layout>
