---
import Layout from '../../../layouts/Layout.astro';
import Example from '../../../components/Example.astro';
---

<Layout
  title="Buttons"
  bodyClass="docs_elements elements_buttons"
  activeSection="docs"
  currentPage="/docs/elements/buttons"
>
  <h1 class="title">Button</h1>

  <h2>Basic buttons</h2>
  <Example>
    <p>
      <button>default</button>
      <button class="primary">primary</button>
      <a href="#" class="button success">success</a>
      <a href="#" class="button info">info</a>
      <input class="warning" type="button" value="warning" />
      <input class="danger" type="submit" value="danger" />
    </p>
  </Example>

  <h2>Disabled button</h2>
  <Example>
    <button disabled="disabled">default</button>
    <button disabled="disabled" class="primary">primary</button>
    <a href="#" class="button disabled success">success</a>
    <a href="#" class="button disabled info">info</a>
    <input disabled="disabled" class="warning" type="button" value="warning" />
    <input disabled="disabled" class="danger" type="submit" value="danger" />
  </Example>

  <h2>Group buttons</h2>
  <Example>
    <div class="buttons">
      <button>Left</button>
      <button>Middle</button>
      <button>Right</button>
    </div>
    <div class="buttons">
      <a href="#" class="button primary">Left</a>
      <a href="#" class="button primary">Middle</a>
      <a href="#" class="button primary">Right</a>
    </div>
  </Example>

  <h2>Vertically buttons</h2>
  <Example>
    <div class="buttons vertical">
      <button>Top</button>
      <button>Middle</button>
      <button>Bottom</button>
    </div>
    <div class="buttons vertical">
      <a href="#" class="button primary">Top</a>
      <a href="#" class="button primary">Middle</a>
      <a href="#" class="button primary">Bottom</a>
    </div>
  </Example>

  <h2>Sizing</h2>
  <Example>
    <p>
      <button class="mini">Mini button</button>
      <a href="#" class="button primary mini">Mini button</a>
    </p>
    <p>
      <button class="small">Small button</button>
      <a href="#" class="button primary small">Small button</a>
    </p>
    <p>
      <button>Default button</button>
      <a href="#" class="button primary">Default button</a>
    </p>
    <p>
      <button class="large">Large button</button>
      <a href="#" class="button primary large">Large button</a>
    </p>
  </Example>

  <h2>Block</h2>
  <Example>
    <p>
      <button class="block large">Block level button</button>
    </p>
    <p>
      <a href="#" class="button primary block large">Block level button</a>
    </p>
  </Example>

  <h2>Justified</h2>
  <Example>
    <div class="buttons justified">
      <a href="#" class="button">Left</a>
      <a href="#" class="button">Middle</a>
      <a href="#" class="button">Right</a>
    </div>
    <br />
    <div class="buttons justified">
      <a href="#" class="button primary">Left</a>
      <a href="#" class="button primary">Middle</a>
      <a href="#" class="button primary">Right</a>
    </div>
  </Example>

  <h3>With &lt;button&gt; elements</h3>
  <section>
    <div class="buttons justified">
      <div class="buttons">
        <button>Left</button>
      </div>
      <div class="buttons">
        <button>Middle</button>
      </div>
      <div class="buttons">
        <button>Right</button>
      </div>
    </div>
    <br />
    <div class="buttons justified">
      <div class="buttons">
        <button class="primary">Left</button>
      </div>
      <div class="buttons">
        <button class="primary">Middle</button>
      </div>
      <div class="buttons">
        <button class="primary">Right</button>
      </div>
    </div>
  </section>

  <h2>Checkbox & Radio in button</h2>
  <Example>
    <label class="button">
      <input type="checkbox" name="" value="" /> Checkbox in button
    </label>
    <label class="button">
      <input type="radio" name="" value="" /> Radio in button
    </label>
  </Example>
</Layout>
