---
import Layout from '../../../layouts/Layout.astro';
import Example from '../../../components/Example.astro';
---

<Layout
  title="Input"
  bodyClass="docs_elements elements_input"
  activeSection="docs"
  currentPage="/docs/elements/input"
>
  <h1 class="title">Input</h1>

  <h2>Base</h2>
  <Example>
    <p><input type="text" placeholder="input here..." /></p>
    <p><textarea cols="100" rows="5" placeholder="input here..."></textarea></p>
  </Example>

  <h2>Fluid</h2>
  <Example>
    <p><input type="text" class="fluid" placeholder="input here..." /></p>
    <p><textarea cols="120" rows="5" class="fluid" placeholder="input here..."></textarea></p>
  </Example>

  <h2>Disabled state</h2>
  <Example>
    <p>
      <input type="text" placeholder="Disabled input here..." disabled="disabled" class="fluid" />
    </p>
    <p>
      <input
        type="text"
        placeholder="Disabled input here..."
        disabled="disabled"
        class="fluid primary"
      />
    </p>
  </Example>

  <h2>Sizing</h2>
  <Example>
    <p><input type="text" class="small" placeholder=".small input" /></p>
    <p><input type="text" placeholder="default input" /></p>
    <p><input type="text" class="large" placeholder=".large input" /></p>
  </Example>

  <h2>Color</h2>
  <Example>
    <p><input type="text" class="fluid primary" placeholder=".primary" /></p>
    <p><input type="text" class="fluid success" placeholder=".success" /></p>
    <p><input type="text" class="fluid info" placeholder=".info" /></p>
    <p><input type="text" class="fluid warning" placeholder=".warning" /></p>
    <p><input type="text" class="fluid danger" placeholder=".danger" /></p>
    <p><textarea cols="120" rows="5" class="fluid primary" placeholder=".primary"></textarea></p>
  </Example>

  <h2>Input groups</h2>
  <Example>
    <div class="inputs">
      <span class="addon">@</span>
      <input type="text" placeholder="Username" />
    </div>
    <br />
    <div class="inputs">
      <input type="text" />
      <span class="addon">.00</span>
    </div>
  </Example>

  <h3>Checkboxes and radio addons</h3>
  <p>Place any checkbox or radio option within an input group's addon instead of text.</p>
  <Example>
    <div class="grid two">
      <div class="column">
        <div class="inputs">
          <span class="addon">
            <input type="checkbox" />
          </span>
          <input type="text" />
        </div>
      </div>
      <div class="column">
        <div class="inputs">
          <span class="addon">
            <input type="radio" />
          </span>
          <input type="text" />
        </div>
      </div>
    </div>
  </Example>

  <h3>Button addons</h3>
  <Example>
    <div class="grid two">
      <div class="column">
        <div class="inputs">
          <span class="buttons">
            <button class="button" type="button">Go!</button>
          </span>
          <input type="text" />
        </div>
      </div>
      <div class="column">
        <div class="inputs">
          <input type="text" />
          <span class="buttons">
            <button class="button" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>
  </Example>

  <h2>Email autocomplete</h2>
  <Example>
    <p><input type="email" placeholder="Enter email..." /></p>
  </Example>
</Layout>
