---
import Layout from '../../../layouts/Layout.astro';
import Code from '../../../components/Code.astro';
---

<Layout title="Input" bodyClass="docs_elements elements_input" activeSection="docs" currentPage="/docs/elements/input">
  <h1 class="title">Input</h1>

  <h2>Base</h2>
  <section class="example">
    <p><input type="text" placeholder="input here..." /></p>
    <p><textarea cols="100" rows="5" placeholder="input here..."></textarea></p>
  </section>
  <Code language="html" code={`
<input type="text" placeholder="input here..." />
<textarea cols="120" rows="5" placeholder="input here..."></textarea>
`} />

  <h2>Fluid</h2>
  <section class="example">
    <p><input type="text" class="fluid" placeholder="input here..." /></p>
    <p><textarea cols="120" rows="5" class="fluid" placeholder="input here..."></textarea></p>
  </section>
  <Code language="html" code={`
<input type="text" class="fluid" placeholder="input here..." />
<textarea cols="120" rows="5" class="fluid" placeholder="input here..."></textarea>
`} />

  <h2>Disabled state</h2>
  <section class="example">
    <p><input type="text" placeholder="Disabled input here..." disabled="disabled" class="fluid" /></p>
    <p><input type="text" placeholder="Disabled input here..." disabled="disabled" class="fluid primary" /></p>
  </section>
  <Code language="html" code={`
<input type="text" placeholder="Disabled input here..." disabled="disabled" />
<input type="text" placeholder="Disabled input here..." disabled="disabled" class="primary" />
`} />

  <h2>Sizing</h2>
  <section class="example">
    <p><input type="text" class="small" placeholder=".small input" /></p>
    <p><input type="text" placeholder="default input" /></p>
    <p><input type="text" class="large" placeholder=".large input" /></p>
  </section>
  <Code language="html" code={`
<input type="text" class="small" placeholder=".small input" />
<input type="text" placeholder="default input" />
<input type="text" class="large" placeholder=".large input" />
`} />

  <h2>Color</h2>
  <section class="example">
    <p><input type="text" class="fluid primary" placeholder=".primary" /></p>
    <p><input type="text" class="fluid success" placeholder=".success" /></p>
    <p><input type="text" class="fluid info" placeholder=".info" /></p>
    <p><input type="text" class="fluid warning" placeholder=".warning" /></p>
    <p><input type="text" class="fluid danger" placeholder=".danger" /></p>
    <p><textarea cols="120" rows="5" class="fluid primary" placeholder=".primary"></textarea></p>
  </section>
  <Code language="html" code={`
<input type="text" class="fluid primary" placeholder=".primary" />
<input type="text" class="fluid success" placeholder=".success" />
<input type="text" class="fluid info" placeholder=".info" />
<input type="text" class="fluid warning" placeholder=".warning" />
<input type="text" class="fluid danger" placeholder=".danger" />
<textarea cols="120" rows="5" class="fluid primary" placeholder=".primary"></textarea>
`} />

  <h2>Input groups</h2>
  <section class="example">
    <div class="inputs">
      <span class="addon">@</span>
      <input type="text" placeholder="Username" />
    </div>
    <br />
    <div class="inputs">
      <input type="text" />
      <span class="addon">.00</span>
    </div>
  </section>
  <Code language="html" code={`
<div class="inputs">
  <span class="addon">@</span>
  <input type="text" />
</div>
`} />

  <h3>Checkboxes and radio addons</h3>
  <p>Place any checkbox or radio option within an input group's addon instead of text.</p>
  <section class="example">
    <div class="grid two">
      <div class="column">
        <div class="inputs">
          <span class="addon">
            <input type="checkbox" />
          </span>
          <input type="text" />
        </div>
      </div>
      <div class="column">
        <div class="inputs">
          <span class="addon">
            <input type="radio" />
          </span>
          <input type="text" />
        </div>
      </div>
    </div>
  </section>
  <Code language="html" code={`
<div class="grid two">
  <div class="column">
    <div class="inputs">
      <span class="addon">
        <input type="checkbox">
      </span>
      <input type="text">
    </div>
  </div>
  <div class="column">
    <div class="inputs">
      <span class="addon">
        <input type="radio">
      </span>
      <input type="text">
    </div>
  </div>
</div>
`} />

  <h3>Button addons</h3>
  <section class="example">
    <div class="grid two">
      <div class="column">
        <div class="inputs">
          <span class="buttons">
            <button class="button" type="button">Go!</button>
          </span>
          <input type="text" />
        </div>
      </div>
      <div class="column">
        <div class="inputs">
          <input type="text" />
          <span class="buttons">
            <button class="button" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>
  </section>
  <Code language="html" code={`
<div class="grid two">
  <div class="column">
    <div class="inputs">
      <span class="buttons">
        <button class="button" type="button">Go!</button>
      </span>
      <input type="text">
    </div>
  </div>
  <div class="column">
    <div class="inputs">
      <input type="text">
      <span class="buttons">
        <button class="button" type="button">Go!</button>
      </span>
    </div>
  </div>
</div>
`} />

  <h2>Email autocomplete</h2>
  <section class="example">
    <p><input type="email" placeholder="Enter email..." /></p>
  </section>
</Layout>
