---

---

<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-brand">
        <h3>Semantic Element</h3>
        <p>A semantic CSS framework for building modern, accessible websites.</p>
      </div>

      <div class="footer-links">
        <div class="footer-column">
          <h4>Getting Started</h4>
          <ul>
            <li><a href="/docs/">Documentation</a></li>
            <li><a href="/docs/elements/typography">Elements</a></li>
            <li><a href="/docs/components/alerts">Components</a></li>
            <li><a href="/docs/grid/">Grid System</a></li>
          </ul>
        </div>

        <div class="footer-column">
          <h4>Resources</h4>
          <ul>
            <li><a href="https://github.com/miclle/semantic-element" target="_blank">GitHub</a></li>
            <li><a href="https://github.com/miclle/semantic-element/issues" target="_blank">Issues</a></li>
            <li><a href="https://www.npmjs.com/package/semantic-element" target="_blank">npm</a></li>
          </ul>
        </div>

        <div class="footer-column">
          <h4>Community</h4>
          <ul>
            <li>
              <a href="http://twitter.com/miclle" target="_blank">Twitter</a>
            </li>
            <li>
              <a href="https://github.com/miclle/semantic-element/discussions" target="_blank">Discussions</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p>
        Designed and built by <a href="http://twitter.com/miclle" target="_blank">@miclle</a>.
        Code licensed <a href="https://github.com/miclle/semantic-element/blob/main/LICENSE" target="_blank"
          >MIT</a
        >.
      </p>
      <p class="footer-version">Currently v0.2.14</p>
    </div>
  </div>
</footer>
