---
---

<footer>
  <div class="container">
    <p>Mice was lovingly crafted by <a href="http://twitter.com/miclle" target="_blank">@miclle</a></p>
    <p>Code licensed under <a href="https://github.com/miclle/mice/blob/master/LICENSE" target="_blank">MIT</a>.</p>
    <ul>
      <li>Currently v0.2.14</li>
      <li><a href="https://github.com/miclle/mice">Mice</a></li>
    </ul>
  </div>
</footer>
