---
interface Props {
  activeSection?: 'docs';
}

const { activeSection } = Astro.props;
---

<nav class="navbar">
  <div class="container">
    <div class="logo">
      <a href="/" class="brand">Mice</a>
    </div>

    <ul class="menu">
      <li class={activeSection === 'docs' ? 'active' : ''}>
        <a href="/docs">Docs</a>
      </li>
    </ul>

    <ul class="menu righted">
      <li><a href="https://github.com/miclle/mice">Github</a></li>
    </ul>
  </div>
</nav>
