---
title: Buttons
---

<div class="container">

  <div class="grid twelve">

    <div class="column three">

      <%= partial :sidebar %>

    </div>

    <div class="column nine doc">

      <!-- Button -->
      <section>
        <h2 class="title">Button</h2>
        <p>
          <button>default</button>
          <button class="default">default</button>
          <button class="primary">primary</button>
          <button class="success">success</button>
          <button class="info">info</button>
          <button class="warning">warning</button>
          <button class="danger">danger</button>
        </p>
        <p>
          <a class="button">default</a>
          <a class="button default">default</a>
          <a class="button primary">primary</a>
          <a class="button success">success</a>
          <a class="button info">info</a>
          <a class="button warning">warning</a>
          <a class="button danger">danger</a>
        </p>
      </section>

      <!-- Group Buttons -->
      <section>
        <h2 class="title">Group Buttons</h2>
        <div class="buttons">
          <button>Left</button>
          <button>Middle</button>
          <button>Right</button>
        </div>

        <div class="buttons">
          <a class="button">Left</a>
          <a class="button">Middle</a>
          <a class="button">Right</a>
        </div>
      </section>

      <!-- Vertical Buttons -->
      <section>
        <h2 class="title">Vertically Buttons</h2>
        <div class="buttons vertical">
          <button>Top</button>
          <button>Middle</button>
          <button>Bottom</button>
        </div>
        <div class="buttons vertical">
          <a class="button">Top</a>
          <a class="button">Middle</a>
          <a class="button">Bottom</a>
        </div>
      </section>

      <!-- Size -->
      <section>
        <h2 class="title">Size</h2>
        <div>
          <button class="mini">Mini button</button>
          <a class="button mini">Mini button</a>
        </div>

        <div>
          <button class="small">Small button</button>
          <a class="button small">Mini button</a>
        </div>

        <div>
          <button>Default button</button>
          <a class="button">Mini button</a>
        </div>

        <div>
          <button class="large">Large button</button>
          <a class="button large">Mini button</a>
        </div>
      </section>

    </div>

  </div>
</div>
