---
title: Grid
---

<div class="container">

  <div class="grid twelve">

    <div class="column four">
      <ul>
        <li>Grid</li>
      </ul>
    </div>

    <div class="column eight">

      <h2 class="title">Responsive Grid System</h2>

      <div class="section group">
        <h3>Two Columns</h3>
      </div>

      <div class="grid two">
        <div class="column">half</div>
        <div class="column">half</div>
      </div>

      <div class="grid two">
        <div class="column right">the right half</div>
      </div>

      <div class="section group example">
        <h3>Three Columns</h3>
      </div>

      <div class="grid three">
        <div class="column">one third</div>
        <div class="column">one third</div>
        <div class="column">one third</div>
      </div>

      <div class="grid three">
        <div class="column two">two-thirds</div>
        <div class="column">one third</div>
      </div>

      <div class="grid three">
        <div class="column center">the middle one-third</div>
      </div>

      <div class="section group">
        <h3>Four Columns</h3>
      </div>

      <div class="grid four">
        <div class="column">quarter</div>
        <div class="column">quarter</div>
        <div class="column">quarter</div>
        <div class="column">quarter</div>
      </div>

      <div class="section group">
        <h3>Five Columns</h3>
      </div>

      <div class="grid five">
        <div class="column">fifth</div>
        <div class="column">fifth</div>
        <div class="column">fifth</div>
        <div class="column">fifth</div>
        <div class="column">fifth</div>
      </div>

      <div class="section group">
        <h3>Six Columns</h3>
      </div>

      <div class="grid six">
        <div class="column">sixth</div>
        <div class="column">sixth</div>
        <div class="column">sixth</div>
        <div class="column">sixth</div>
        <div class="column">sixth</div>
        <div class="column">sixth</div>
      </div>

      <div class="section group">
        <h3>Seven Columns</h3>
      </div>

      <div class="grid seven">
        <div class="column">seventh</div>
        <div class="column">seventh</div>
        <div class="column">seventh</div>
        <div class="column">seventh</div>
        <div class="column">seventh</div>
        <div class="column">seventh</div>
        <div class="column">seventh</div>
      </div>

      <div class="section group">
        <h3>Eight Columns</h3>
      </div>

      <div class="grid eight">
        <div class="column">eighth</div>
        <div class="column">eighth</div>
        <div class="column">eighth</div>
        <div class="column">eighth</div>
        <div class="column">eighth</div>
        <div class="column">eighth</div>
        <div class="column">eighth</div>
        <div class="column">eighth</div>
      </div>

      <div class="section group">
        <h3>Nine Columns</h3>
      </div>

      <div class="grid nine">
        <div class="column">ninth</div>
        <div class="column">ninth</div>
        <div class="column">ninth</div>
        <div class="column">ninth</div>
        <div class="column">ninth</div>
        <div class="column">ninth</div>
        <div class="column">ninth</div>
        <div class="column">ninth</div>
        <div class="column">ninth</div>
      </div>

      <div class="section group">
        <h3>Ten Columns</h3>
      </div>

      <div class="grid ten">
        <div class="column">tenth</div>
        <div class="column">tenth</div>
        <div class="column">tenth</div>
        <div class="column">tenth</div>
        <div class="column">tenth</div>
        <div class="column">tenth</div>
        <div class="column">tenth</div>
        <div class="column">tenth</div>
        <div class="column">tenth</div>
        <div class="column">tenth</div>
      </div>

      <div class="section group">
        <h3>Eleven Columns</h3>
      </div>

      <div class="grid eleven">
        <div class="column">eleventh</div>
        <div class="column">eleventh</div>
        <div class="column">eleventh</div>
        <div class="column">eleventh</div>
        <div class="column">eleventh</div>
        <div class="column">eleventh</div>
        <div class="column">eleventh</div>
        <div class="column">eleventh</div>
        <div class="column">eleventh</div>
        <div class="column">eleventh</div>
        <div class="column">eleventh</div>
      </div>


      <div class="section group">
        <h3>Twelve Columns</h3>
      </div>

      <div class="grid twelve">
        <div class="column">twelfth</div>
        <div class="column">twelfth</div>
        <div class="column">twelfth</div>
        <div class="column">twelfth</div>
        <div class="column">twelfth</div>
        <div class="column">twelfth</div>
        <div class="column">twelfth</div>
        <div class="column">twelfth</div>
        <div class="column">twelfth</div>
        <div class="column">twelfth</div>
        <div class="column">twelfth</div>
        <div class="column">twelfth</div>
      </div>

      <div class="grid twelve">
        <div class="column eleven">eleven twelfths</div>
        <div class="column">twelve</div>
      </div>

      <div class="grid twelve">
        <div class="column three">three twelfths</div>
        <div class="column nine">nine twelfths</div>
      </div>

      <div class="grid twelve">
        <div class="column nine">nine twelfths</div>
      </div>

      <div class="grid twelve">
        <div class="column nine center">nine twelfths</div>
      </div>

      <div class="grid twelve">
        <div class="column nine right">nine twelfths</div>
      </div>

    </div>

  </div>
</div>
